html, body {
    background-color: $color-admin-bg;
}

.ar-icon {
    fill: currentColor;
    transition: fill .5s ease-in-out;
}

.blueprint {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;

    .section-main {
        flex-grow: 1;
        min-width: 100vw;
        overflow-x: auto;
        position: relative;
        z-index: 1;

        @include breakpoint(sm) {
            min-width: 768px;
        }
    }
}
