html,
body {
    background-color: $color-admin-bg;
    height: 100%;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

html {
    overflow-y: hidden;
}

.blueprint {
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
}

.admin-page {
    .section {
        &-tools {
            position: absolute;
            top: 0;
            left: 0;
        }

        &-main {
            width: 100%;
            overflow-x: hidden;
            position: relative;
            z-index: map-get($z-indexes, 'default');

            @include breakpoint(sm) {
                min-width: 320px;
                overflow-x: auto;
            }

            .zone-admin-content {
                @include admin-content-zone;
            }

            .zone-admin-actions {
                @include admin-actions-zone;
            }
        }
    }
}

.admin-content-region {
    @include admin-content-region;
}

.ar-tooltip {
    // position: fixed;
    z-index: map-get($z-indexes, 'overlay') + 100;
}

.ar-modal {
    z-index: map-get($z-indexes, 'overlay');
}

.ar-dialog-content {
    background-color: $color-white;
}

.modal-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $color-admin-bg;
}

.Toastify {
    &__toast {
        &-body {
            .ar-icon {
                width: 18px;
                height: 18px;
                margin-right: 12px;
                margin-top: -4px;
            }
            line-height: 24px;
        }

        &-container {
            z-index: map-get($z-indexes, overlay) * 2;
        }
    }
}

.ar-data-table-heading {
    font-weight: 500;
}

.ar-breadcrumbs {
    display: flex;
    align-items: center;

    &,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    li {
        font-size: 12px;
        display: flex;
        align-items: center;

        &:empty {
            display: none;
        }

        &:not(:first-child) {
            padding-left: 8px;

            &:before {
                content: '/';
                padding-right: 8px;
                color: $color-gray;
                font-size: 8px;
            }
        }
    }
}
