html, body {
    background-color: $color-admin-bg;
}

.blueprint {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;

    .section-main {
        flex-grow: 1;
        overflow-x: auto;
        position: relative;
        z-index: 1;

        @include breakpoint(sm) {
            min-width: 320;
            overflow-x: auto;
        }
    }
}
