html,
body {
    background-color: $color-admin-bg;
}

.blueprint {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
}

.admin-page {
    .section {
        &-main {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            max-height: 100vh;
            overflow-x: hidden;
            overflow-y: hidden;
            position: relative;
            z-index: map-get($z-indexes, 'default');

            @include breakpoint(sm) {
                min-width: 320px;
                overflow-x: auto;
            }

            .zone-admin-content {
                @include admin-content-zone;
            }

            .zone-admin-actions {
                @include admin-actions-zone;
            }
        }
    }
}
