html, body {
    background-color: $color-admin-bg;
}

.blueprint {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;

    .section {
        &-main {
            flex-grow: 1;
            min-width: 100vw;
            max-height: 100vh;
            height: 100%;
            overflow-x: auto;
            overflow-y: scroll;
            position: relative;
            z-index: map-get($z-indexes, 'default');

            @include breakpoint(sm) {
                min-width: 320px;
                overflow-x: auto;
            }
        }
    }

    .zone {
        &-admin-header {
            @include admin-header-zone;
        }
    }

}
