@mixin admin-header-zone() {
    z-index: map-get($z-indexes, 'header');
    width: 100%;
    height: $height-admin-header;
    background-color: $color-admin-header-bg;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0 8px;
    border-bottom: 1px solid $color-grey-light;
}

@mixin admin-content-zone() {
    flex-grow: 1;
    flex-shrink: 1;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    padding: $padding-admin-content-zone;
    z-index: map-get($z-indexes, 'default');
}

@mixin admin-actions-zone() {
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
    z-index: map-get($z-indexes, 'actions');
    top: $height-admin-header/2;
    transform: translateY(-50%);
    padding-left: $padding-default;

    &:empty {
        display: none;
    }
}

@mixin settings-dialog() {
    padding: $padding-settings-dialog;
}

@mixin flex-row() {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: wrap;
}
