// Spacing
$padding-default: 24px !default;
$padding-admin-content-zone: $padding-default !default;
$padding-settings-dialog: $padding-default !default;

// Background
$color-admin-bg: $color-grey-light !default;

// Admin Header
$color-admin-header-bg: $color-white !default;
$height-admin-header: 60px !default;

// Sidebar
$color-sidebar-bg: $color-gray-dark !default;
$color-sidebar-text: $color-grey-light !default;
$font-size-sidebar: 14px !default;
$width-sidebar-expanded: 320px !default;
$width-sidebar-collapsed: 80px !default;

// Sidebar menu
$color-menu-item-active: $color-blue !default;
$font-size-menu-item: 16px !default;
$font-weight-menu-item: 500 !default;
$width-menu-item: 50px !default;
$height-menu-item: 60px !default;
$height-menu-item-expanded: 40px !default;

// Avatar
$color-avatar-stroke: $color-gray-dark !default;
$color-avatar-text: $color-grey-light !default;

$z-indexes: (
    "overlay": 10000,
    "sidebar": 9000,
    "actions": 8000,
    "header": 7000,
    "default": 0
) !default;
