.zone {
    .admin-media-editor {
        &-preview {
            position: relative;
            box-shadow: $shadow-image;
            border: 4px solid $color-light;

            img {
                width: 100%;
                height: auto;
            }

            button.primary {
                position: absolute;
                bottom: 12px;
                left: 50%;
                transform: translateX(-50%);
                box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
                opacity: 0;
                transition: opacity 0.25s ease-in-out;
            }

            &:hover {
                button {
                    opacity: 1;
                }
            }
        }
    }
}
