$border-radius-arp: 8px;
$color-arp: $color-dark !default;
$color-arp-bg: $color-grey-light !default;
$color-arp-border: $color-grey-light !default;
$color-arp-heading: lighten($color-gray, 10%) !default;
$font-family-arp-heading: Helvetica, Arial, sans;
$font-size-arp-heading: 14px !default;
$font-weight-arp-heading: 600 !default;
$shadow-arp: 0 0 5px 1px rgba($color-black, 0.05) !default;
$width-arp: 300px !default;
$height-max-arp: calc(100vh - #{$height-admin-header}) !default;
$height-min-arp: 500px !default;

%color-block {
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    border-radius: 2px;
    margin: 0 8px 0 -4px;
    position: relative;

    &[data-color='inherit'],
    &[data-color='transparent'] {
        background-color: transparent !important;
        background-position: center center;
        background-image: url(data:image/gif;base64,R0lGODlhBAAEAIABAPPz8////yH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDUgNzkuMTYzNDk5LCAyMDE4LzA4LzEzLTE2OjQwOjIyICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOmJiOGQ4ZDFmLTZlMWMtNDMyNy05NWNiLTkwZDJkOGYyNjhlNCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoxNUE1RkRGMDNDN0QxMUVBQTJDNUQxQ0Q0Q0QwQjUyNSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoxNUE1RkRFRjNDN0QxMUVBQTJDNUQxQ0Q0Q0QwQjUyNSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxOSBNYWNpbnRvc2giPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDphM2E5ZmQ2OC03NTRjLTRmZTQtYjNmMi1lMWVkMmU3ZWJkY2EiIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDo4MTMwNDUyOC0zNDViLTcwNDYtYmNlMi1jNTNjOTAwMzFjOTQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQBAAABACwAAAAABAAEAAACBgQShqgJBQA7);
    }

    &[data-color='inherit']
    &[data-color='transparent'],
    &[data-color='#{$color-white}'],
    &[data-color='#{$color-white-dark}'] {
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            border-radius: 2px;
            border: 2px solid $color-arp-border;
        }
    }
}

%dropdown-btn {
    border: none;
    border-radius: 1px;
    background-color: lighten($color-grey-light, 2.5%);
    color: $color-text-dark;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    overflow: hidden;
    outline: none;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
    user-select: none;

    span,
    input {
        color: $color-text-dark;
        flex-grow: 1;
        line-height: 1;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.125px;
    }

    input {
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0;
        margin: 0;
    }

    svg {
        //fill: $color-gray;
        fill: currentColor;
        margin-left: 8px;
    }

    button svg {
        margin-left: 0;
    }

    &:hover,
    &:focus {
        background-color: $color-grey-light;
    }

    &.center {
        span,
        input {
            text-align: center !important;
        }
    }

    &.right {
        span,
        input {
            text-align: right !important;
        }
    }

    .icon {
        font-size: 14px;
    }

    .color-block {
        @extend %color-block;
    }
}

.ar-rte-panel {
    @extend .ar-drag-panel;

    width: 100%;
    height: auto;
    max-width: $width-arp;
    background-color: $color-arp-bg;
    color: $color-arp;
    overflow: visible;

    .content {
        display: block;
        width: 100%;
    }

    .ar-event-form {
        width: 100%;
    }

    .ar-dialog {
        width: 100%;

        &-header {
            user-select: none;
            cursor: grab;
        }
    }

    .ar-dropdown {
        width: 100%;

        &-menu {
            .color-block {
                @extend %color-block;
            }
        }

        &.center {
            li button {
                justify-content: center;
                padding-right: 20px;
            }
        }

        &.right {
            li button {
                justify-content: flex-end;
                padding-right: 20px;
            }
        }
    }


    .ar-collapsible.expanded {
        overflow: visible;
    }

    hr,
    .hr {
        border: none;
        border-bottom: 1px solid $color-arp-border;
        padding: 0;
        margin: 0;
    }

    .heading,
    .ar-dialog-header h2 {
        color: $color-arp-heading;
        font-size: $font-size-arp-heading;
        font-weight: $font-weight-arp-heading;
        font-family: $font-family-arp-heading;
        line-height: 1;
        letter-spacing: 0.5px;
        padding: 14px 20px 8px 20px;
    }

    .ar-dialog-header h2 {
        padding-top: 12px;
        display: flex;
        align-items: center;
    }

    svg {
        fill: $color-arp;
        fill: currentColor;
    }

    &-dragging {
        .ar-dialog-header {
            cursor: grabbing;
        }
    }

    .dropdown-btn {
        @extend %dropdown-btn;
    }
}

.formatter-font,
.formatter-color {
    margin-top: 10px;
    padding: 0 20px 10px 20px;
    border-bottom: 1px solid $color-arp-border;
}

.formatter-text-align {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $color-arp-border;

    button {
        opacity: 0.5;

        &.active,
        &:active,
        &:hover {
            opacity: 1;
        }
    }
}

.formatter {
    background-color: $color-text-light;
}

button.formatter-text-style {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0 12px 20px;
    user-select: none;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid $color-arp-border;
    text-align: left;
    font-size: 16px;

    > div {
        max-width: 240px;
        overflow: hidden;
        white-space: nowrap;
    }

    &:last-child {
        border-bottom: none;
    }

    & + .ar-dropdown-menu {
        z-index: 20;
    }

    > div > * {
        margin: 0;
        padding: 0;
        color: inherit;
        fill: currentColor;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        text-align: inherit;
        line-height: normal;
    }

    > div > svg {
        fill: currentColor;
    }

    > div > ol {
        margin-left: 17px !important;

        li {
            padding-left: 11px !important;
        }
    }

    > div > ul {
        margin-left: 22px !important;

        li {
            padding-left: 4px !important;
        }
    }

    > div > blockquote {
        display: block;
        width: 100%;
        padding: 20px !important;
    }
}

.ar-rte-styled {
    display: inline-block;
};
