$padding-user-media: 12px;

.#{$admin-user-editor-ns}-media {
    display: block;
    position: relative;

    .ar-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &-empty {
        @extend .#{$admin-user-editor-ns}-content-empty;
    }

    .media {
        @extend .row;

        padding: $padding-user-media;

        &-card {
            @extend .col-xs-12;
            @extend .col-sm-6;
            @extend .col-md-4;
            @extend .col-lg-4;
            @extend .col-xl-2;

            padding: $padding-user-media;

            > div {
                display: flex;
                flex-direction: column;
                background-color: $color-light;
                border-radius: 4px;
                box-sizing: $shadow-image;
                overflow: hidden;
                width: 100%;
            }
        }

        &-preview {
            flex-grow: 1;
            height: calc(80vw - 60px);
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-dark-light;
            position: relative;
            overflow: hidden;
            background-size: cover;
            background-position: top center;

            @include breakpoint(sm) {
                height: calc(48vw - 60px);
            }

            @include breakpoint(md) {
                height: calc(27vw - 60px);
            }

            @include breakpoint(lg) {
                height: calc(25vw - 60px);
            }

            @include breakpoint(xl) {
                height: calc(10vw - 60px);
            }

            > a,
            audio,
            video {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: top center;
                overflow: hidden;
                padding: 0;
                outline: none;

                &:focus {
                    outline: none;
                }
            }

            audio {
                padding: 0 14px 20px 14px;
                @include breakpoint(lg) {
                    padding: 0 20px 20px 20px;
                }
            }

            video {
                object-fit: inherit;
            }

            svg {
                fill: $color-gray;
                width: 96px;
                height: 96px;
                flex-shrink: 0;
            }
        }

        &-info {
            height: 60px;
            overflow: hidden;
            display: flex;
            align-items: stretch;
            background-color: $color-light;

            flex-shrink: 0;
            color: $color-text-dark;

            .label {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 12px;
                font-size: 11px;
                font-family: sans-serif;
                line-height: 14px;
            }
        }

        &-card-audio {
            .media-preview {
                align-items: flex-end;
            }
        }

        &-card-video {
            .media-preview {
                background-color: $color-dark;
            }
        }
    }
}
