$padding-user-media: 12px !default;

.#{$admin-user-editor-ns}-media {
    display: block;
    position: relative;

    .ar-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &-empty {
        @extend .#{$admin-user-editor-ns}-content-empty;
    }
}
