// For theming admin
// Variables placed here will override admin defaults
// Not to be used in base project
$input-color-border: #F3F3F3;

$color-danger: #E09797;
$color-primary: #4F82BA;
$color-secondary: #000000;
$color-tertiary: #999999;

$color-text-light: #FFFFFF;
$color-text-light-dark: #F0F0F0;
$color-text-dark: #000000;
$color-text-dark-light: #222222;
