.ar-drag-panel {
    display: flex;
    top: 0px;
    position: fixed;
    z-index: map-get($z-indexes, sidebar) - 1;

    .handle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: grab;
    }

    .content {
        z-index: 100;
    }

    &-dragging {
        .handle {
            cursor: grabbing;
        }
    }
}

body {
    overflow-y: visible;
}
