.rte-link-insert {
    .form-group {
        position: relative;
        color: $color-gray;

        input {
            padding-left: 36px;
        }

        svg {
            position: absolute;
            left: 14px;
            top: 50%;
            margin-top: 2px;
            transform: translateY(-50%);
            fill: $color-gray;
            fill: currentColor;
            pointer-events: none;
            width: 16px;
            height: 16px;
        }
    }
}
