$menu-editor-ns: menu-editor !default;

.#{$menu-editor-ns} {
    position: relative;
    padding: 20px;

    &-controls {
        padding-right: 10px;
    }
    &-items {
        padding-left: 10px;
    }

    .content-options {
        list-style: none;
        margin: 0;
        padding: 8px 0;
    }

    .content-option {
        display: flex;
    }
}

.drag-list-container {}

.drag-list {
    position: relative;
    &-item {
        position: absolute;
        pointer-events: auto;
        transform-origin: 50% 50% 0px;
        overflow: visible;
        width: 100%;

        &-inner {
            position: relative;
            border-radius: 5px;
            padding: 8px 0;

            > * {
                position: relative;
            }
        }
    }
}

.dl-example-item {
    color: white;
    line-height: 90px;
    padding-left: 32px;
    font-size: 14.5px;
    background: lightblue;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;

    &-1 {
        background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    }
    &-2 {
        background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
    }
    &-3 {
        background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
    }
    &-4 {
        background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
    }
}
