$menu-editor-ns: menu-editor !default;
$menu-editor-item-outline: $color-gray !default;

.#{$menu-editor-ns} {
    position: relative;
    padding: 20px;

    &-controls {
        padding-right: 10px;
    }
    &-items {
        height: 100%;
        padding-left: 10px;
    }

    [role=option] {
        &:focus {
            outline: 2px solid $menu-editor-item-outline;
            .ar-dialog {
                outline: 2px solid $menu-editor-item-outline;
                outline-top: none;
            }
        }
    }

    .content-options {
        list-style: none;
        margin: 0;
        padding: 8px 0;
    }

    .content-option {
        display: flex;
    }

    .menu-container {
        .menu {
            margin: 20px;
            margin-top: 0;
        }

        min-height: 100px;
    }

    [role=option] {
        width: calc(50%);
        min-width: 30vw;
        @include breakpoint(sm-down) {
            min-width: 50vw;
        }
    }

    .menu-item {
        &, &-content-type {
            .ar-dialog-header-buttons {
                flex-grow: 1;
            }
        }
    }
}

.list-drag-handle {
    position: relative;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    width: 42px;

    &:hover {
        cursor: grab;
    }

    &:focus {
        &:after {
            display: block;
            content: ' ';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 24px;
            outline: 2px solid $menu-editor-item-outline;
        }

        outline: none;
    }
}

.drag-list-container {}

.drag-list {
    position: relative;
    &-item {
        position: absolute;
        pointer-events: auto;
        transform-origin: 50% 50% 0px;
        overflow: visible;
        width: 100%;

        &-inner {
            position: relative;
            border-radius: 5px;
            padding-bottom: 16px;

            > * {
                position: relative;
            }
        }
    }
}
//
// .dl-example-item {
//     color: white;
//     line-height: 90px;
//     padding-left: 32px;
//     font-size: 14.5px;
//     background: lightblue;
//     text-transform: uppercase;
//     letter-spacing: 2px;
//     width: 100%;
//
//     &-1 {
//         background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
//     }
//     &-2 {
//         background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
//     }
//     &-3 {
//         background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
//     }
//     &-4 {
//         background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
//     }
// }
