$color-activity-chart: $color-gray-dark !default;
$color-activity-log-bg: $color-white !default;
$activity-log-max-height: calc(100vh - 40px) !default;
$activity-log-default-border: $color-gray !default;
$activity-log-who-color: $color-blue !default;
$created-color: $color-green !default;
$revised-color: $color-red !default;
$slug-changed-color: $color-orange !default;
$set-revision-color: $color-orange !default;
$set-acl-color: $color-purple !default;
$set-status-color: $color-blue !default;
$published-color: $color-green !default;
$unpublished-color: $color-red !default;
$schedule-color: $color-green !default;
$unschedule-color: $color-orange !default;
$trashed-color: $color-red !default;
$deleted-color: $color-red !default;
$restored-color: $color-green !default;

.activity-log {
    @extend .row;
    // uncomment when chart implemented
    // width: calc(100vw - 40px);
    max-height: $activity-log-max-height;
    background: $color-activity-log-bg;
    overflow: hidden;

    &-chart {
        // remove when chart implemented
        display: none;

        background: $color-activity-chart;
    }

    &-updates {
        max-height: $activity-log-max-height;
        min-width: 300px;
        width: 100%;
        padding: 20px 0;
        height: 100%;
    }
}

.activity-list {
    list-style: none;
    width: 100%;
    height: 100%;
    max-height: $activity-log-max-height;
    margin: 0;
    margin-top: 20px;
    padding: 0 20px;
    padding-bottom: 80px;
    overflow-x: hidden;

    &-header {
        margin-left: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &-item {
        position: relative;
        margin-left: 8px;
        padding-left: 20px;
        border-left: 1px solid $activity-log-default-border;
        padding-bottom: 8px;
        font-size: 12px;
        line-height: 1.5;

        &:last-child {
            padding-bottom: 0;
        }

        &-when {
            font-size: 12px;
            svg {
                height: 16px;
                width: 16px;
            }
        }

        &:before {
            display: block;
            position: absolute;
            content: ' ';
            height: 10px;
            width: 10px;
            border: 2px solid $activity-log-default-border;
            border-radius: 50%;
            left: -5px;
            top: 5px;
            background: $color-activity-log-bg;
        }

        &-created {
            border-color:$created-color;
            &:before {
                border-color: $created-color;
            }
        }
        &-revised {
            border-color:$revised-color;
            &:before {
                border-color: $revised-color;
            }
        }
        &-slug-changed {
            border-color:$slug-changed-color;
            &:before {
                border-color: $slug-changed-color;
            }
        }
        &-set-revision {
            border-color:$set-revision-color;
            &:before {
                border-color: $set-revision-color;
            }
        }
        &-set-acl {
            border-color:$set-acl-color;
            &:before {
                border-color: $set-acl-color;
            }
        }
        &-set-status {
            border-color:$set-status-color;
            &:before {
                border-color: $set-status-color;
            }
        }
        &-published {
            border-color:$published-color;
            &:before {
                border-color: $published-color;
            }
        }
        &-unpublished {
            border-color:$unpublished-color;
            &:before {
                border-color: $unpublished-color;
            }
        }
        &-schedule {
            border-color:$schedule-color;
            &:before {
                border-color: $schedule-color;
            }
        }
        &-unschedule {
            border-color:$unschedule-color;
            &:before {
                border-color: $unschedule-color;
            }
        }
        &-trashed {
            border-color:$trashed-color;
            &:before {
                border-color: $trashed-color;
            }
        }
        &-deleted {
            border-color:$deleted-color;
            &:before {
                border-color: $deleted-color;
            }
        }
        &-restored {
            border-color:$restored-color;
            &:before {
                border-color: $restored-color;
            }
        }

        &-part {
            &.status, &.version {
                font-weight: 600;
            }
            &.who {
                color: $activity-log-who-color;
            }
        }
    }
}
