$color-activity-chart: $color-dark !default;
$color-activity-log-bg: $color-light !default;
$activity-log-max-height: calc(100vh - 40px) !default;
$activity-log-default-border: $color-gray !default;
$activity-log-who-color: $color-primary !default;
$created-color: $color-green !default;
$revised-color: $color-danger !default;
$slug-changed-color: $color-orange !default;
$set-revision-color: $color-orange !default;
$set-acl-color: $color-purple !default;
$set-status-color: $color-primary !default;
$published-color: $color-green !default;
$unpublished-color: $color-danger !default;
$schedule-color: $color-green !default;
$unschedule-color: $color-orange !default;
$trashed-color: $color-danger !default;
$deleted-color: $color-danger !default;
$restored-color: $color-green !default;

.activity-log {
    @extend .row;
    background: $color-activity-log-bg;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &-chart {
        background: $color-activity-chart;
    }

    &-updates {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

.activity-list {
    list-style: none;
    margin: 0;
    padding-bottom: 20px;

    &-container {
        flex-grow: 1;
    }

    &-header {
        padding: 20px 16px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &-item {
        position: relative;
        margin: 0;
        margin-left: 20px;
        padding: 10px 10px 10px 20px;
        border-left: 1px solid $activity-log-default-border;
        font-size: 12px;
        line-height: 1.5;

        &:last-child {
            padding-bottom: 0;
        }

        &-when {
            font-size: 12px;
            display: flex;
            align-items: center;

            svg {
                height: 14px;
                width: 14px;
                margin-right: 8px;
                margin-bottom: 1px;
            }
        }

        &:before {
            display: block;
            position: absolute;
            content: ' ';
            height: 10px;
            width: 10px;
            border: 2px solid $activity-log-default-border;
            border-radius: 50%;
            left: -5px;
            top: 14px;
            background: $color-activity-log-bg;
        }

        &-created {
            border-color:$created-color;
            &:before {
                border-color: $created-color;
            }
        }
        &-revised {
            border-color:$revised-color;
            &:before {
                border-color: $revised-color;
            }
        }
        &-slug-changed {
            border-color:$slug-changed-color;
            &:before {
                border-color: $slug-changed-color;
            }
        }
        &-set-revision {
            border-color:$set-revision-color;
            &:before {
                border-color: $set-revision-color;
            }
        }
        &-set-acl {
            border-color:$set-acl-color;
            &:before {
                border-color: $set-acl-color;
            }
        }
        &-set-status {
            border-color:$set-status-color;
            &:before {
                border-color: $set-status-color;
            }
        }
        &-published {
            border-color:$published-color;
            &:before {
                border-color: $published-color;
            }
        }
        &-unpublished {
            border-color:$unpublished-color;
            &:before {
                border-color: $unpublished-color;
            }
        }
        &-schedule {
            border-color:$schedule-color;
            &:before {
                border-color: $schedule-color;
            }
        }
        &-unschedule {
            border-color:$unschedule-color;
            &:before {
                border-color: $unschedule-color;
            }
        }
        &-trashed {
            border-color:$trashed-color;
            &:before {
                border-color: $trashed-color;
            }
        }
        &-deleted {
            border-color:$deleted-color;
            &:before {
                border-color: $deleted-color;
            }
        }
        &-restored {
            border-color:$restored-color;
            &:before {
                border-color: $restored-color;
            }
        }

        &-part {
            &.status, &.version, &.deleted {
                font-weight: 600;
            }
            &.who {
                color: $activity-log-who-color;
            }
        }
    }
}

.activity-chart {
    background: $color-activity-chart;
    width: 100%;
    height: 100vh;
}
