$ar-color-rte-toolbar: $color-gray !default;
$ar-height-rte-toolbar: 40px !default;
$ar-width-rte-toolbar: 40px !default;
$ar-height-rte-sidebar: 30px !default;
$ar-width-rte-sidebar: 40px !default;

.ar-rte {
    position: relative;
    padding-bottom: 100px;

    p, ol, ul {
        margin-bottom: 15px;
        padding-bottom: 0px;
    }

    ol, ul {
        margin-left: 32px;
    }

    &-toolbar {
        position: absolute;
        overflow: visible;
        display: none;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;

        &-rect {
            height: $ar-height-rte-toolbar;
            max-width: 200px;
            overflow: hidden;
            border-radius: 2px;
        }

        button {
            min-width: $ar-width-rte-toolbar;
            height: $ar-height-rte-toolbar;
            &.active,
            &:active {
                font-weight: normal !important;
            }

            .ico {
                font-size: 20px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            transform: translateX(-50%) translateY(100%);
            border-style: solid;
            border-width: 10px 7px 0 7px;
            border-color: $ar-color-rte-toolbar transparent transparent
            transparent;
        }

        &.invert:after {
            content: '';
            position: absolute;
            bottom: 0;
            top: 0;
            left: 50%;
            width: 0;
            height: 0;
            transform: translateX(-50%) translateY(-100%);
            border-style: solid;
            border-width: 0 7px 10px 7px;
            border-color: transparent transparent $ar-color-rte-toolbar
            transparent;
        }

        &.no-arrow:after {
            display: none;
        }
    }

    &-sidebar {
        display: none;
        opacity: 0;
        position: absolute;
        overflow: visible;
        height: $ar-height-rte-sidebar;
        transition: opacity 0.25s ease-in-out;

        button {
            svg {
                transition: transform .25s ease-in-out;
            }

            &.collapsed {
                svg {
                    transform: rotate(135deg);
                }
            }

            &.active,
            &:active {
                font-weight: normal !important;
            }

            .ico {
                font-size: 20px;
            }
        }

        &-buttons {
            width: $ar-width-rte-sidebar;
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
        }

        .btn-group {
            flex-direction: column;
            width: 100%;
            position: relative;
            margin-top: 20px;

            button {
                min-width: $ar-width-rte-sidebar;
                min-height: $ar-width-rte-sidebar;
            }

            > * {
                border-radius: 0;

                &:first-child {
                    border-radius: 2px 2px 0 0;
                }

                &:last-child {
                    border-radius: 0 0 2px 2px;
                }
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                top: 0;
                left: 50%;
                width: 0;
                height: 0;
                z-index: 100;
                transform: translateX(-50%) translateY(-100%);
                border-radius: 0;
                border-style: solid;
                border-width: 0 7px 10px 7px;
                border-color: transparent transparent $ar-color-rte-toolbar
                transparent;
            }
        }


    }
}
