.zone {
    &-admin-media-content {
        &-dropzone {
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            padding-top: $height-admin-header;
            color: $color-gray-dark;
            overflow-x: hidden;
            overflow-y: auto;
        }

        &-uploads {
            flex-grow: 0;
            display: block;

            ul,
            li {
                list-style: none;
                margin: 0;
            }

            ul {
                padding: 0;
            }

            ul li {
                @include flex-row();
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: stretch;
            }

            &:empty {
                display: none;
            }
        }

        &-upload {
            font-size: 14px;
            color: $color-gray;
            padding: $padding-admin-content-zone;
            border-bottom: 1px solid lighten($color-grey, 10%);

            &-image {
                width: 72px;
                height: 72px;
                flex-shrink: 0;
                flex-grow: 0;
                border-radius: 2px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color-grey;
                background-position: center;
                background-size: cover;

                &.queued {
                    opacity: 0.5;
                }
            }

            &-name {
                flex-grow: 1;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                overflow-x: hidden;
                white-space: -moz-pre-wrap;
                white-space: -o-pre-wrap;
                white-space: pre-wrap;
                word-wrap: break-word;

                padding-left: $padding-admin-content-zone;
                font-weight: 500;

                &.queued {
                    opacity: 0.5;
                }
            }

            &-action {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-left: $padding-admin-content-zone;

                button {
                    width: $width-upload-action-button;
                    height: $width-upload-action-button;
                    padding: 0;
                    overflow: hidden;
                }
            }

            &-status {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-left: $padding-admin-content-zone;
            }
        }

        &-library {
            flex-grow: 1;
            position: relative;
            min-height: 500px;

            &.empty {
                padding: $padding-admin-content-zone;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: calc(100% - #{$padding-admin-content-zone * 2});
                    height: calc(100% - #{$padding-admin-content-zone * 2});
                    border: 3px dashed lighten($color-grey, 5%);
                    transform: translateX(-50%) translateY(-50%);
                }

                div.label {
                    content: 'Drop your files here';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0 $padding-admin-content-zone/2;
                    text-align: center;
                    font-weight: bold;
                    font-size: 16px;
                    color: lighten($color-gray, 10%);
                    transform: translateX(-50%) translateY(-50%);

                    @include breakpoint(lg) {
                        max-width: 33%;
                        font-size: 1.5vw;
                        padding: $padding-admin-content-zone;
                    }

                    svg {
                        fill: $color-primary;
                        opacity: 0.75;
                    }
                }
            }
        }
    }

    &-admin-media-actions {
        @include admin-actions-zone;
    }
}
