// COLORS
$color-danger: #e09797 !default;
$color-primary: #4f82ba !default;
$color-secondary: #000000 !default;
$color-tertiary: #999999 !default;
$color-light: #ffffff !default;
$color-light-dark: #fdfdfd !default;
$color-dark: #333333 !default;
$color-dark-light: #222222 !default;

$color-text-light: #ffffff !default;
$color-text-light-dark: #fdfdfd !default;
$color-text-dark: #000000 !default;
$color-text-dark-light: #222222 !default;

// Colors
$color-border: #f7f7f7 !default;

$input-color-border: #f3f3f3 !default;
