.form-group .placeholder-container,
.input-group .placeholder-container,
.placeholder-container {
    position: relative;
    flex-grow: 1;
    line-height: 1 !important;

    .placeholder {
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        padding: 17px 8px 4px 12px;

        position: absolute;
        pointer-events: none;
        transition: all 0.125s ease-in-out;

        background-color: $light;
        color: $input-color-placeholder;

        font-size: 16px;
        font-weight: #{map-get($font-weights, medium)};
        font-family: #{map-get($fonts, helvetica-neue)};
    }

    textarea + .placeholder {
        padding: 16px 8px 4px 12px;
        width: calc(100% - 17px);
    }

    input {
        &:not([type='checkbox']) {
            &:not([type='radio']) {
                padding: 22px 10px 2px 12px;
                min-height: 51px;
            }
        }
    }

    textarea {
        &:not([type='checkbox']) {
            &:not([type='radio']) {
                padding: 26px 10px 2px 12px;
                min-height: 130px;
            }
        }
    }

    // ------------------------------------
    // Focused or input/textarea has value
    // ------------------------------------
    &.active .placeholder,
    input:focus + .placeholder,
    textarea:focus + .placeholder {
        font-size: 12px;
        padding: 10px 8px 4px 12px;
    }
}
