$width-media-editor-meta: 420px;
$admin-media-editor-ns: 'admin-media-editor';

.#{$admin-media-editor-ns} {
    width: 100%;
    min-height: 100vh;
    padding-top: $height-admin-header;

    @include breakpoint(sm) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &-alert {
        padding: $padding-admin-content-zone;
        padding-bottom: 0;
        width: 100%;
    }

    &-main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: $padding-admin-content-zone;
        min-height: calc(100vh - #{$height-admin-header});
        opacity: 0;
        transition: opacity 0.25s ease-in-out;

        &.visible {
            opacity: 1;
        }
    }

    .ar-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    &-audio,
    &-file,
    &-image,
    &-video {
        width: 100%;
        padding: $padding-admin-content-zone;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
    }

    &-audio > img,
    &-image > img {
        border: 4px solid $color-light;
        box-shadow: $shadow-image;
        width: 100%;
        margin-bottom: $padding-admin-content-zone;
    }

    &-audio {
        > audio {
            margin-bottom: $padding-admin-content-zone;
            min-width: 320px;

            &:focus {
                outline: none;
            }
        }
    }

    &-file {
        &-icon {
            color: $color-gray;
            margin-bottom: $padding-admin-content-zone;

            &:hover {
                text-decoration: none;
                color: $color-grey;
            }

            svg {
                fill: currentColor;
                width: 144px;
                height: 144px;
            }
        }
    }

    &-video {
        background-size: cover;
        background-position: center center;

        > video {
            width: 100%;
            height: auto;
            max-width: 960px;
            object-fit: inherit;
            border: 4px solid $color-light;
            box-shadow: $shadow-image;
            margin-bottom: $padding-admin-content-zone;

            &:focus {
                outline: none;
            }
        }
    }

    &-filename {
        text-align: center;
        width: 100%;
        font-size: 12px;
    }
}
