.media-tool {
    position: relative;

    &-scene {
        background-color: $color-grey-light;
        width: 100% !important;
        height: 80vh !important;

        @include breakpoint(xl) {
            height: 60vh !important;
        }
    }

    .ar-scene-panel.active {
        z-index: auto !important;
    }

    .block {
        width: 100%;
    }

    &-external,
    &-library,
    &-upload {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 42px;

        .ar-spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 5000000;
        }

        .input-group {
            width: 100%;

            select {
                max-height: 41px;
                border: 1px solid #f3f3f3;
            }

            button {
                padding: 0;
                width: 42px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .back-btn {
            position: absolute;
            top: 0;
            left: 0;

            button {
                width: 40px;
                height: 40px;
                padding: 0;
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    &-library {
        padding: 0;
        display: block;
    }

    &-actions {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        user-select: none;

        &:before {
            content: '';
            position: absolute;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            border: 4px dashed $color-grey-light;
            pointer-events: none;
        }
    }

    &-btn-container {
        margin-top: 12px;

        button {
            width: 200px;
        }
    }

    &-label {
        @extend .h3;
        font-weight: 500;
        color: $color-gray;
    }

    &-label-dnd {
        @extend .h3;
        font-weight: 600;
        color: $color-gray;
    }

    &-label-or {
        @extend .h3;
        margin-top: 8px;
        font-weight: 500;
        color: $color-gray;
    }

    &-thumbs {
        .ar-spinner {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .toolbar {
            width: 100%;
            padding: 0 10px 0 3px;
            display: flex;
            align-items: center;

            button {
                padding: 0;
                width: 40px;
                height: 40px;
            }
        }

        &.single {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 40px;
            height: 100%;
            position: relative;

            .preview {
                width: 100%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                user-select: none;
                transition: opacity 0.5s ease-in-out;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                &.faded {
                    opacity: 0;
                }

                &.image {
                    cursor: zoom-in;
                }

                &.audio {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-direction: column;
                    padding-bottom: 40px;
                    max-height: 400px;

                    audio {
                        outline: none;
                    }
                }

                &.file {
                    svg {
                        width: 124px;
                        height: 124px;
                        fill: $color-grey;
                    }
                }

                &.video {
                    padding-top: 10px;
                    padding-bottom: 30px;

                    video {
                        outline: none;
                        background-color: $color-black;
                    }
                }
            }

            .toolbar {
                position: absolute;
                left: 0;
                top: 0;
            }

            .delete-btn {
                position: absolute;
                left: 50%;
                bottom: 42px;
                transform: translateX(-50%) translateY(50%);
            }
        }

        &.multiple {
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;

            .ar-data-table-headings {
                display: none;
            }

            .toolbar {
                flex-shrink: 0;
            }

            .table {
                flex-grow: 1;
            }

            .thumb {
                width: 100%;
                height: 36px;
                background-color: $color-grey-light;
                background-size: cover;
                background-position: center;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 24px;
                    height: 24px;
                    fill: $color-gray;
                }
            }

            .delete-btn {
                padding: 0;
                width: 24px;
                height: 24px;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }

            .delete-all-container {
                flex-grow: 1;
                text-align: right;
                padding-right: 6px;
            }
        }
    }

    &-upload {
        padding: 0;
        > .content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            border-top: 1px solid #F3F3F3;
        }
        .list {
            height: 100%;
            width: 66%;
            border-right: 1px solid #F3F3F3;
        }

        .dropbox {
            min-width: 30%;
            flex-grow: 1;
            user-select: none;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:before {
                content: '';
                border: 4px dashed $color-grey-light;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 40px);
                height: calc(100% - 40px);
                pointer-events: none;
            }
        }
    }
}

.media-tool {
    .input-group {
        width: 100%;

        flex-direction: column;

        @include breakpoint(md) {
            flex-direction: row;
            align-items: center;
        }

        > * {
            margin-bottom: 16px;
            flex-grow: 1;
        }

        input {
            width: 100%;
        }

        .min-max {
            flex-shrink: 0;
            flex-grow: 1;
            width: 100%;

            input {
                width: 100%;
            }

            @include breakpoint(md) {
                width: 15%;
            }
        }
    }

    .checks {
        @include breakpoint(md) {
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
        }

        > * {
            margin-bottom: 12px;

            @include breakpoint(md) {
                margin-right: 20px;
                margin-bottom: 0;
            }
        }

        label > span:first-child {
            text-align: left;
        }
    }
}
