.admin-content-editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: $height-admin-header;

    @include breakpoint(md) {
        overflow: hidden;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: stretch;
        height: calc(100vh - #{$height-admin-header});
    }

    &-element {
        position: relative;
        padding: 20px;

        &:not(:first-child) {
            margin-bottom: -20px;
        }

        &:empty {
            display: none;
        }

        &-title {
            border-bottom: 1px solid darken($color-grey-light, 5%);

            button {
                z-index: 5;
            }

            .input-sm {
                margin-top: 4px;
            }
        }
    }

    &-spinner {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-default {
        @include breakpoint(md) {
            overflow-y: auto;
            height: calc(100vh - #{$height-admin-header});
        }
    }

    &-sidebar {
        display: flex;
        overflow-x: hidden;
        flex-direction: column;
        flex-shrink: 0;

        padding: 20px;

        @include breakpoint(md) {
            padding: 0;
            background-color: $color-white;
            height: calc(100vh - #{$height-admin-header});
        }

        &-element {
            position: relative;
            min-width: 400px;

            &-publish {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                right: 0;
                bottom: 0;
                width: 100%;
                position: sticky;
                z-index: map-get($z-indexes, 'overlay');

                button {
                    font-size: 20px;
                }

                &-box {
                    padding: 20px;
                    margin-top: -1px;
                    background-color: $color-white;
                    border-top: 1px solid darken($color-grey-light, 5%);
                    border-bottom: 1px solid darken($color-grey-light, 5%);

                    .error-message {
                        margin-top: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    &-sidebar-placeholder {
        width: 100%;
    }

    &-column {
        overflow-x: visible;
        position: relative;
        min-width: 100%;
        padding-bottom: 20px;

        @include breakpoint(md) {
            min-width: 0;
            height: calc(100vh - #{$height-admin-header});
        }

        &:first-child {
            flex-grow: 1;
        }

        &:last-child {
            flex-shrink: 0;
            flex-grow: 0;
            padding-bottom: 0;
            border-left: 1px solid darken($color-grey-light, 5%);
        }

        .handle-left {
            position: relative;

            &:after {
                content: '';
                width: 4px;
                height: 20px;
                top: 50%;
                left: 0px;
                position: absolute;
                transform: translate(-100%, -50%);
                border-left: 1px solid $color-grey;
                border-right: 1px solid $color-grey;
                background-color: $color-grey-light;
            }
        }
    }

    .resizable {
        transition: width 0.125s ease-in-out;
    }
}

.ar-dialog-content {
    > .error-message {
        padding: 12px 20px 0 20px;
    }
}
