.zone {
    .audio-editor {
        .admin-media-editor {
            audio {
                outline: none;
                padding: 0;
            }

            &-preview {
                border: none;
                box-shadow: none;
            }
        }
    }
}
