
.admin-logo {
    z-index: map-get($z-indexes, 'default');
    min-width: $height-admin-header;
    height: $height-admin-header;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    order: map-get($z-indexes, 'overlay');
}
