$width-ace-sidebar: 420px;
$admin-content-ns: admin-content;

.#{$admin-content-ns} {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    padding-top: $height-admin-header;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: normal;

    @include breakpoint(md) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }

    &-editor {
        position: relative;
        flex-grow: 1;
        max-width: 100vw;
        width: 100%;
        max-width: calc(100% - 50px);

        &-region {
            position: relative;
            padding: $padding-admin-content-zone;
            padding-bottom: 0;

            &:empty {
                display: none;
            }

            &-slug {
                border-bottom: 1px solid darken($color-admin-header-border, 5%);
                padding-bottom: $padding-admin-content-zone;
            }
        }
    }

    &-element {
        &:empty {
            display: none;
        }
    }

    &-help {
        @extend .p-xs-20;
        border-bottom: 1px solid $color-admin-header-border;

        .ar-alert {
            box-shadow: 0 0 1px 1px $color-admin-header-border;

            .content {
                padding-bottom: 0;
                padding-top: 2px;
            }
        }
    }
}

@import './Sidebar/style';
