$width-ace-sidebar: 420px;
$admin-content-ns: admin-content;

.#{$admin-content-ns} {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    padding-top: $height-admin-header;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: normal;

    @include breakpoint(md) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }

    &-editor {
        position: relative;
        flex-grow: 1;
        max-width: 100vw;
        width: 100%;

        @include breakpoint(md) {
            max-width: calc(100% - #{$width-ace-sidebar});
        }

        &-region {
            padding: $padding-admin-content-zone;
            padding-bottom: 0;

            &:empty {
                display: none;
            }

            &-slug {
                border-bottom: 1px solid darken($color-admin-header-border, 5%);
                padding-bottom: $padding-admin-content-zone;
            }
        }
    }

    &-element {
        &:empty {
            display: none;
        }
    }

    &-meta {
        width: 100%;
        background-color: $color-white;

        @include breakpoint(md) {
            position: fixed;
            top: $height-admin-header;
            right: 0;
            width: $width-ace-sidebar;
            height: calc(100vh - #{$height-admin-header});
            box-shadow: $shadow-image;
            overflow: hidden;
            border-left: 1px solid $color-admin-header-border;
        }

        .#{$admin-content-ns}-editor-region {
            padding: 0;

            .ar-dialog {
                box-shadow: none;
                border-radius: 0;
            }

            &-sidebar {
                @extend .p-xs-20;
            }
        }
    }

    &-help {
        @extend .p-xs-20;
        border-bottom: 1px solid $color-admin-header-border;

        .ar-alert {
            box-shadow: 0 0 1px 1px $color-admin-header-border;

            .content {
                padding-bottom: 0;
                padding-top: 2px;
            }
        }
    }
}
