$revision-manager-bg-color: $color-white !default;
$close-button-focus-outline: $color-tertiary !default;

.version-id {
    font-size: 12px;
    text-transform: uppercase;
}

.revision-manager {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: $revision-manager-bg-color;
    z-index: map-get($z-indexes, overlay);

    // revision-manager-controls
    &-controls {
        z-index: map-get($z-indexes, overlay);
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        width: 100%;
        justify-content: space-between;
        padding: 20px;
    }

    &-close, &-back {
        flex-grow: 0;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        padding: 0;

        svg {
            width: 100%;
            height: 100%;
        }
        &:focus {
            outline: 1px solid $close-button-focus-outline;
        }
    }

    &-back {
        svg {
            transform: translateX(-10px);
        }
    }

    // revision-manager-scene
    &-scene {
        width: calc(100vw - 40px);
        height: calc(100vh - 100px);
        margin: 20px;
        margin-top: 80px;
        // overflow-y: visible;

        .select-dropdown {
            width: 260px;
        }
    }

    // revision-manager-dialog
    &-dialog {
        width: 90vw;
        max-width: 400px;
        .ar-dialog-content {
            padding: 20px;
            & > * {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &-option {
        margin-bottom: 16px;
        button {
            width: 260px;
        }
    }

    &-content {
        overflow-y: hidden;
    }

    // Scenes
    &-main, &-settings, &-revisions, &-branches {
        overflow: visible;
    }

    &-main, &-settings {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
    }

    &-branches {
        &-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-control {
            margin: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 0 50%;
            button {
                width: 260px;
            }
        }

        @include breakpoint(xs-only) {
            &-controls {
                display: block;
            }
        }
    }
}

.selected-branch {
    display: flex;
    &-settings {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 26px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 0;
        svg {
            width: 18px;
            height: 18px;
        }
    }

    &-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.select-dropdown {
    button {
        padding-left: 8px;
        padding-right: 8px;
    }

    .selected-settings {
        padding-right: 4px;
    }
    .selected-button {
        padding-left: 4px;
    }

    &-label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg {
            max-width: 16px;
            max-height: 16px;
        }
    }
}

$compare-border: $color-border !default;
$compare-shadow: $shadow-image !default;
$compare-desktop-basis: 45% !default;
$compare-desktop-border-offset: 55% !default;
$compare-mobile-basis: calc(100% - 40px) !default;
$compare-from-diff-border: $color-danger !default;
$compare-to-diff-border: $color-green !default;
.branch-compare {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 20px;

    &-row {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-from, &-to {
        position: relative;
        flex: 0 0 $compare-desktop-basis;
        max-width: $compare-desktop-basis;
        &.branch-compare-diff {
            .ar-dialog-content {
                position: relative;
                &:before {
                    display: block;
                    content: ' ';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    &-from {
        &.branch-compare-diff {
            .ar-dialog-content {
                margin: 1px;
                border: 1px solid $compare-from-diff-border;
                background: rgba($compare-from-diff-border, .1);
            }
        }
    }

    &-to {
        &.branch-compare-diff {
            .ar-dialog-content {
                margin: 1px;
                border: 1px solid $compare-to-diff-border;
                background: rgba($compare-to-diff-border, .1);
            }
        }
    }

    &-copy {
        position: absolute;
        button {
            padding: 0;
            width: 26px;
            height: 26px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &-from {
        .branch-compare-copy {
            right: -48px;
        }
    }

    &-to {
        .branch-compare-copy {
            left: -48px;
        }
    }

    &:before, &:after {
        display: block;
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        border: 1px solid $compare-border;
        box-shadow: $compare-shadow;
    }

    &:before {
        left: $compare-desktop-border-offset;
        right: 0;
    }

    &:after {
        left: 0;
        right: $compare-desktop-border-offset;
    }

    @include breakpoint(xs-only) {
        &-row {
            display: block;
        }

        &-from, &-to {
            max-width: $compare-mobile-basis;
            border: 1px solid $compare-border;
            box-shadow: $compare-shadow;
            margin-bottom: 20px;
            .branch-compare-copy {
                top: 0px;
                right: -48px;
                left: inherit;
                transform-origin: center;
                transform: rotate(90deg);
            }
        }

        &:before, &:after {
            display: none;
        }
    }
}

.comparison-component {
    overflow-x: hidden;
}

$missing-fields-color: $color-danger !default;
.missing {
    &-fields {
        list-style: none;
        margin: 0;
    }

    &-field {
        text-decoration: line-through;
        color: $missing-fields-color;
    }
}
