.permission-selector {

    .permission {
        .ar-dropdown-menu {
            min-width: 120px;
        }
    }


    .ar-tags-input {
        border: none !important;

        input {
            display: none;
        }
    }

    .selections {
        margin-top: 12px;
        border-top: 1px solid $color-admin-header-border;

        &:empty {
            display: none;
        }
    }
}
