$color-type-icon-picker-bg: $color-light !default;
.type-icon {
    position: relative;
    z-index: map-get($z-indexes, normal);
    > button {
        height: 100%;
    }

    &-picker {
        background: $color-type-icon-picker-bg;
        position: absolute;
        top: 1px;
        left: 52px;
        z-index: map-get($z-indexes, popup);
        width: 300px;
        box-shadow: 0 0 4px 1px rgba(0,0,0,.125);
    }
}
