/*
 pagination styles
 */
.#{$admin-content-list-ns} {
    padding-top: $height-admin-header;
    padding-bottom: $padding-admin-content-zone;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;

    &-item {
        display: flex;
        flex-direction: column;
        position: relative;
        height: $admin-content-list-height;
    }

    &-item-container {
        position: relative;
        padding: $padding-admin-content-zone/2 $padding-admin-content-zone;
        padding-bottom: 0;

        &:first-child {
            padding: $padding-admin-content-zone;
            padding-bottom: 0;
        }
    }

    &-item-delete {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        width: $admin-content-list-height;
        height: $admin-content-list-height;
        opacity: 0.5;
        transition: opacity 0.5s ease-in-out;
        overflow: hidden;
        pointer-events: none;

        &.confirm {
            opacity: 1;
            pointer-events: initial;
        }

        button {
            border-radius: 0px 2px 2px 0;
            font-weight: 600;
            width: 100%;
            height: 100%;
            padding: 0;
            background-color: $color-danger !important;

            &:hover {
                background-color: $color-danger !important;
            }
        }
    }

    &-item-columns {
        display: flex;
        z-index: 2;
        align-items: stretch;
        height: $admin-content-list-height;
        width: 100%;
        background-color: $color-text-light;
        border-radius: 2px;
        overflow: hidden;
        transition: margin-left 0.25s ease-in-out;

        &.confirm {
            margin-left: -#{$admin-content-list-height};
            box-shadow: $shadow-image;
        }
    }

    &-item-quick-editor {
        background-color: $color-text-light-dark;
        padding: 20px;
        border-top: 1px solid $color-grey-light;

        > div { @extend .row; }
    }

    &-column-title {
        flex-grow: 1;
        display: flex;
        align-items: stretch;
        padding: 0 20px;
        position: relative;
        min-height: $admin-content-list-height;
        user-select: none;

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }

        .title {
            font-family: Helvetic, Arial, sans-serif;
            margin-bottom: 2px;
            font-weight: 600;
            color: $color-text-dark;
        }

        .slug {
            font-size: 14px;
            color: $color-gray;
            font-family: monospace;
        }
    }

    &-column-status {
        display: flex;
        width: 120px;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;

        @include breakpoint(xs-only) {
            display: none;
        }
    }

    &-column-actions {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        min-width: 120px;
        padding-right: 20px;
        flex-shrink: 0;

        > *:not(:first-child) {
            margin-left: 10px;
        }
    }

    &-spinner {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: map-get($z-indexes, popup);
    }

    &-heading {
        display: flex;
        align-items: center;

        padding: $padding-admin-content-zone;
        padding-left: 40px;
        margin-bottom: $padding-admin-content-zone;
        border-bottom: 1px solid darken($color-admin-header-border, 2%);
        background-color: $color-text-light;

        h2 {
            font-size: 20px;
        }

        &-count {
            margin-right: 8px;
        }
    }

    &-toolbar {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .ar-dropdown {
            &-menu {
                min-width: 120px;
            }
        }

        .ar-pagination {
            @include breakpoint(xs-only) {
                display: none;
            }
        }
    }

    .pagination-bottom {
        padding: $padding-admin-content-zone;
        padding-bottom: 0;
        display: flex;
        justify-content: center;

        .ar-dropdown {
            &-menu {
                box-shadow: none;
                margin-top: 1px;
            }

            .btn-group {
                > * {
                    transition: border-radius 0.125s ease-in-out;
                }
            }

            &.expanded {
                margin-top: 0;

                .btn-group {
                    > *:first-child {
                        border-top-left-radius: 0;
                    }

                    > *:last-child {
                        border-top-right-radius: 0;
                    }
                }
            }
        }
    }
}

body.fullscreen {
    .admin-content-list {
        padding-top: 0;
    }
}

.pagination-header {
    @include breakpoint(xs-only) {
        display: none;
    }
}
