$admin-content-list-height: 80px;
$admin-content-list-ns: admin-content-list;

.#{$admin-content-list-ns} {
    padding-top: $height-admin-header;
    padding-bottom: $padding-admin-content-zone;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;

    &-item {
        display: flex;
        flex-direction: column;
        position: relative;
        height: $admin-content-list-height;
    }

    &-item-container {
        position: relative;
        padding: $padding-admin-content-zone/2 $padding-admin-content-zone;
        padding-bottom: 0;

        &:first-child {
            padding: $padding-admin-content-zone;
            padding-bottom: 0;
        }
    }

    &-item-delete {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        width: $admin-content-list-height;
        height: $admin-content-list-height;
        opacity: .5;
        transition: opacity .5s ease-in-out;
        overflow: hidden;
        pointer-events: none;

        &.confirm {
            opacity: 1;
            pointer-events: initial;
        }

        button {
            border-radius: 0px 2px 2px 0;
            font-weight: 600;
            width: 100%;
            height: 100%;
            padding: 0;
            background-color: $color-red !important;

            &:hover {
                background-color: $color-red !important;
            }
        }
    }

    &-item-columns {
        display: flex;
        z-index: 2;
        align-items: stretch;
        height: $admin-content-list-height;
        width: 100%;
        background-color: $color-white;
        border-radius: 2px;
        overflow: hidden;
        transition: margin-left .25s ease-in-out;


        &.confirm {
            margin-left: -#{$admin-content-list-height};
            box-shadow: $shadow-image;
        }
    }

    &-column-title {
        flex-grow: 1;
        display: flex;
        align-items: stretch;
        padding: 0 20px;
        position: relative;
        min-height: $admin-content-list-height;

        &:hover { text-decoration: none; }

        .title {
            margin-bottom: 4px;
            font-weight: 500;
            color: $color-gray-dark;
        }

        .slug {
            font-size: 16px;
            color: $color-gray;
            font-family: map-get($fonts, mono);
        }
    }

    &-column-status {
        display: flex;
        width: 120px;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;

        @include breakpoint(xs-only) {
            display: none;
        }
    }

    &-column-actions {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        min-width: 120px;
        padding-right: 20px;
        flex-shrink: 0;

        > *:not(:first-child) {
            margin-left: 10px;
        }
    }

    &-spinner {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

body.fullscreen {
    .admin-content-list {
        padding-top: 0;
    }
}
