$width-profile-avatar: 124px;

.zone {
    &-admin-profile {
        @include flex-row();
        @include admin-content-zone;

        color: $color-gray-dark;

        &-editor {
            background-color: $color-white;
            border-radius: 24px;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.025);
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: $width-profile-avatar/2;

            &-form {
                flex-grow: 1;
                padding: 32px;
                padding-top: $width-profile-avatar/2;
            }

            &-footer {
                flex-grow: 0;
                flex-shrink: 0;
                padding: 20px;
                background-color: $color-white-dark;
                border-top: 1px solid $color-grey-light;
                border-radius: 0px 0px 24px 24px;
            }

            &-avatar {
                position: absolute;
                width: $width-profile-avatar;
                height: $width-profile-avatar;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                background-color: $color-white;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                border-radius: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border: 6px solid $color-white;
            }
        }
    }

    &-admin-profile-actions {
        @include admin-actions-zone;
    }
}
