.ar-rte {
    &-image {
        margin: 0;
        width: 100%;
        overflow: hidden;
        position: relative;

        .children {
            position: absolute;
            top: 0;
            left: 0;
            line-height: 1;
            z-index: 0;
        }
    }

    &-image {
        img {
            max-width: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

#rte-image-settings {
    width: 80vw;

    @include breakpoint(sm) {
        max-width: 400px;
        min-width: 300px;
    }
}
