.rte-tabs-element {
    .tabs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: auto;
        padding: 20px 0 11px 106px;
        width: 100%;
        height: 72px;
        z-index: 2;
        position: relative;

        .tab {
            min-width: calc(100% - 94px);
            max-width: calc(100% - 94px);

            @include breakpoint(sm) {
                min-width: 200px;
                max-width: 320px;
            }

            &:not(:last-child) {
                margin-right: -1px;
            }

            input {
                border-bottom: 1px solid transparent;
                outline: none;
                z-index: 2;
            }

            .handle {
                position: absolute;
                width: 100%;
                height: 16px;
                top: 0;
                left: 0;
                transform: translateY(-100%);
                background-color: $color-light;
                z-index: 1;
                opacity: 0;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 2px rgba($color-dark, 0.25);
                }

                &:after {
                    content: '';
                    width: 20px;
                    height: 4px;
                    left: 50%;
                    top: calc(50% - 1px);
                    position: absolute;
                    transform: translate(-50%, -50%);
                    border-bottom: 1px solid $color-grey;
                    border-top: 1px solid $color-grey;
                }
            }

            &:hover {
                .handle {
                    opacity: 1;
                }

                input {
                    cursor: pointer;
                    color: $color-light;
                    background-color: $color-primary;
                    border: 1px solid $color-primary;
                    box-shadow: 0 0 0 2px rgba($color-primary, 0.25);

                    &:focus {
                        cursor: text;
                    }
                }
            }

            &.dragging {
                .handle {
                    z-index: 1;
                    opacity: 1;
                    border-radius: 4px 4px 0 0;
                }

                input {
                    z-index: 2;
                    color: $color-light;
                    background-color: $color-primary;
                    border: 1px solid $color-primary;
                    box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
                    cursor: pointer;
                }
            }
        }

        .spacer {
            width: 24px;
            height: 100%;
            flex-shrink: 0;
        }

        &-actions {
            display: flex;
            flex-wrap: nowrap;
            flex-shrink: 0;
            position: absolute;
            left: 4px;
            top: 24px;
            padding-right: 12px;
            z-index: 2;
            height: 41px;
            border-bottom: 1px solid $color-primary;
            background: $color-grey-light;
            // prettier-ignore
            background: -moz-linear-gradient(left, rgba($color-grey-light, 1) 0%, rgba($color-grey-light, 0.9) 100%);
            // prettier-ignore
            background: -webkit-linear-gradient(left, rgba($color-grey-light, 1) 0%,rgba($color-grey-light, 0.9) 100%);
            // prettier-ignore
            background: linear-gradient(to right, rgba($color-grey-light, 1) 0%,rgba($color-grey-light, 0.9) 100%);

            button {
                height: 100%;
                width: 41px;
                padding: 0;
                padding-top: 4px;

                svg {
                    width: 18px;
                    height: 18px;
                }

                &:focus {
                    box-shadow: none;
                    border: none;
                    outline: none;
                }
            }
        }

        &.droppable {
            .tab:after {
                position: absolute;
                left: 2px;
                top: 2px;
                content: '';
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                border: 2px dashed rgba($color-primary, 0.5);
            }

            .tab.dragging:after {
                display: none;
            }

            width: calc(100% + 200px);
        }
    }
}
