.rte-tabs {
    &-element {
        margin-left: -4px;
        margin-right: -4px;
        position: relative;
        outline: none;
        user-select: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 2px dashed transparent;
        overflow: visible;
        padding: 0 4px 4px 4px;

        &:hover {
            border: 2px dashed $color-grey;
        }

        .tabs {
            display: flex;
            flex-wrap: nowrap;
            overflow: auto;
            padding: 20px 12px 11px 12px;
            width: 100%;
            z-index: 2;

            &-children {
                display: none;
            }

            &.droppable {

                .tab:after {
                    position: absolute;
                    left: 2px;
                    top: 2px;
                    content: '';
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    border: 2px dashed rgba($color-primary, .5);
                }

                .tab.dragging:after {
                    display: none;
                }
            }

            .tab {
                padding: 0;
                display: flex;
                flex-grow: 1;
                flex-wrap: nowrap;
                overflow: visible;
                position: relative;
                z-index: 3;
                opacity: 1;
                min-width: 100%;

                @include breakpoint(sm) {
                    min-width: 33%;
                }

                @include breakpoint(md) {
                    min-width: 20%;
                }

                &:not(:last-child) {
                    margin-right: -1px;
                }

                input {
                    width: 100%;
                    padding: 10px 16px;
                    border: 1px solid transparent;
                    border-bottom: 1px solid $color-primary;
                    background-color: transparent;
                    outline: none;
                    z-index: 2;
                }

                button {
                    width: 24px;
                    height: 24px;
                    padding: 0;
                    position: absolute;
                    top: 50%;
                    z-index: 3;
                    display: none;

                    &:first-child {
                        transform: translate(-50%, -50%);
                        left: 0;
                    }

                    &:last-child {
                        transform: translate(50%, -50%);
                        right: 0;
                    }

                    svg {
                        width: 14px;
                        height: 14px;
                    }
                }

                .handle {
                    position: absolute;
                    width: 100%;
                    height: 16px;
                    top: 0;
                    left: 0;
                    transform: translateY(-100%);
                    background-color: $color-light;
                    z-index: 1;
                    opacity: 0;

                    &:after {
                        content: '';
                        width: 20px;
                        height: 4px;
                        left: 50%;
                        top: calc(50% - 1px);
                        position: absolute;
                        transform: translate(-50%, -50%);
                        border-bottom: 1px solid $color-grey;
                        border-top: 1px solid $color-grey;
                    }
                }

                &.active {
                    z-index: 3;
                    opacity: 4;

                    input {
                        color: inherit;
                        background-color: $color-light;
                        border-bottom: 1px solid transparent;

                        &:focus {
                            color: inherit;
                            background-color: $color-light;
                            border: 1px solid $color-primary;
                            //border-bottom: 1px solid $color;
                            box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
                            cursor: text;
                        }
                    }
                }

                &:hover {
                    z-index: 5;
                    opacity: 1;

                    button {
                        opacity: 1 !important;
                        display: flex;
                    }

                    input {
                        color: $color-light;
                        background-color: $color-primary;
                        border: 1px solid $color-primary;
                        box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
                        cursor: pointer;
                    }

                    .handle {
                        opacity: 1;
                    }
                }

                &.dragging {
                    background-color: $color-light;

                    input {
                        z-index: 2;
                        color: $color-light;
                        background-color: $color-primary;
                        border: 1px solid $color-primary;
                        box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
                        cursor: pointer;
                    }

                    .handle {
                        z-index: 1;
                        opacity: 1;
                        border-radius: 4px 4px 0 0;
                    }
                }
            }
        }

        .tabs-content {
            width: 100%;
            z-index: 1;
            margin-top: -12px;

            .container {
                padding: 20px;
                background-color: $color-light;
                border-top: 1px solid $color-primary;
            }
        }
    }

    &-editor {
        position: relative;

        &-add {
            padding: 20px;
        }

        &-direction {
            padding: 20px;
            border-top: 1px solid $color-grey-light;
        }

        &-tabs {
            padding: 20px 0;
            border-top: 1px solid $color-grey-light;
            height: 320px;
            overflow-y: auto;
            position: relative;

            &.dragging {
                padding-bottom: 77px;
            }

            .draggable {
                position: relative;

                padding: 0 20px;

                &:not(:first-child) {
                    margin-top: 8px;
                }

                &.dragging {
                    margin: 0;
                    padding: 8px 20px;
                    background-color: $color-white;
                    display: block;
                    min-height: 57px;
                    box-shadow: $shadow-image;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    height: 12px;
                    width: 4px;
                    border-left: 1px solid $color-grey;
                    border-right: 1px solid $color-grey;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                }

                &:hover::after,
                &.dragging::after {
                    opacity: 1;
                }
            }
        }

        &-footer {
            padding: 10px;
            border-top: 1px solid $color-grey-light;
            background-color: lighten($color-grey-light, 2%);
        }
    }
}
