.rte-tabs {
    &-element {
        margin-left: -4px;
        margin-right: -4px;
        position: relative;
        outline: none;
        user-select: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 2px dashed transparent;
        overflow: visible;
        padding: 0 4px 4px 4px;

        &:hover {
            border: 2px dashed $color-grey;
        }

        .tabs {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: auto;
            padding: 20px 12px 11px 0;
            width: 100%;
            height: 72px;
            z-index: 2;
            position: relative;

            .actions {
                display: flex;
                flex-wrap: nowrap;
                flex-shrink: 0;
                padding-right: 12px;

                button {
                    height: 41px;
                    width: 41px;
                    padding: 0;

                    &:focus {
                        box-shadow: none;
                        border: none;
                        outline: none;
                    }
                }
            }

            &.droppable {
                .tab:after {
                    position: absolute;
                    left: 2px;
                    top: 2px;
                    content: '';
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    border: 2px dashed rgba($color-primary, 0.5);
                }

                .tab.dragging:after {
                    display: none;
                }

                width: calc(100% + 200px);
            }

            .tab {
                padding: 0;
                display: flex;
                flex-grow: 1;
                flex-wrap: nowrap;
                overflow: visible;
                position: relative;
                z-index: 3;
                opacity: 1;
                min-width: 100%;

                @include breakpoint(sm) {
                    min-width: 33%;
                    max-width: 200px;
                }

                @include breakpoint(md) {
                    min-width: 20%;
                }

                &:not(:last-child) {
                    margin-right: -1px;
                }

                input {
                    width: 100%;
                    padding: 10px 16px;
                    border: 1px solid transparent;
                    border-bottom: 1px solid $color-primary;
                    background-color: transparent;
                    outline: none;
                    z-index: 2;
                }

                button {
                    width: 24px;
                    height: 24px;
                    padding: 0;
                    position: absolute;
                    top: 50%;
                    z-index: 3;
                    display: none;

                    &:first-child {
                        transform: translate(-50%, -50%);
                        left: 0;
                    }

                    &:last-child {
                        transform: translate(50%, -50%);
                        right: 0;
                    }

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                .handle {
                    position: absolute;
                    width: 100%;
                    height: 16px;
                    top: 0;
                    left: 0;
                    transform: translateY(-100%);
                    background-color: $color-light;
                    z-index: 1;
                    opacity: 0;

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 0 2px rgba($color-dark, 0.25);
                    }

                    &:after {
                        content: '';
                        width: 20px;
                        height: 4px;
                        left: 50%;
                        top: calc(50% - 1px);
                        position: absolute;
                        transform: translate(-50%, -50%);
                        border-bottom: 1px solid $color-grey;
                        border-top: 1px solid $color-grey;
                    }
                }

                &.active {
                    z-index: 3;
                    opacity: 4;

                    input {
                        color: inherit;
                        background-color: $color-light;
                        border: 1px solid $color-primary;
                        border-bottom: 1px solid transparent;

                        &:focus {
                            color: inherit;
                            background-color: $color-light;
                            border: 1px solid $color-primary;
                            box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
                            cursor: text;
                        }
                    }
                }

                &:hover {
                    z-index: 5;
                    opacity: 1;

                    button {
                        opacity: 1 !important;
                        display: flex;
                    }

                    input {
                        color: $color-light;
                        background-color: $color-primary;
                        border: 1px solid $color-primary;
                        box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
                        cursor: pointer;
                    }

                    .handle {
                        opacity: 1;
                    }
                }

                &.dragging {
                    background-color: $color-light;

                    input {
                        z-index: 2;
                        color: $color-light;
                        background-color: $color-primary;
                        border: 1px solid $color-primary;
                        box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
                        cursor: pointer;
                    }

                    .handle {
                        z-index: 1;
                        opacity: 1;
                        border-radius: 4px 4px 0 0;
                    }
                }
            }
        }

        .tabs-content {
            width: 100%;
            z-index: 1;
            margin-top: -12px;

            .container {
                padding: 20px;
                background-color: $color-light;
                border: 1px solid $color-primary;
            }
        }
    }

    &-editor {
        position: relative;

        &-direction {
            padding: 20px;
        }

        &-footer {
            padding: 10px;
            border-top: 1px solid $color-grey-light;
            background-color: lighten($color-grey-light, 2%);
        }
    }

    &-content-editor {
        position: fixed;
        padding: 40px;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgba($color-black, .8);
        z-index: map-get($z-indexes, overlay) - 2;
        display: flex;

        > .ar-dialog {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .ar-dialog-content {
                flex-grow: 1;
            }
        }

        .ar-rte {
            height: 100%;

            [data-slate-editor] {
                height: 100%;
                padding: 40px 40px 120px 70px;
            }
        }

        .ar-rte-sidebar {
            transform: translate(70px, 0px);
        }

        &-container {
            width: 100%;
            height: 100%;
            position: relative;
        }

        &-submit {
            left: 50%;
            bottom: 40px;
            position: absolute;
            text-align: center;
            transform: translateX(-50%);
        }

        .ar-dialog-header-btn {
            flex-shrink: 0;

            &.active {
                color: $color-primary;
            }
        }

        input.title {
            @extend .h2;
            font-size: 18px;
            padding: 4px 16px;
            border: 1px solid transparent;
            border-radius: 4px 0 0 0;
            background-color: transparent;
            width: 100%;
            color: inherit;
            flex-grow: 1;
            flex-shrink: 1;
            outline: none;

            &:focus {
                cursor: pointer;

                &:not(:read-only) {
                    cursor: text;
                    color: inherit;
                    outline: none;
                    user-select: all;
                    background-color: $color-light;
                    border-bottom: 1px solid $color-primary;
                }
            }
        }
    }

    &-content {
        position: relative;
        min-height: 100px;
        padding-top: 64px;

        .blocker {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba($color-white, 0);
        }

        .edit {
            top: 50%;
            left: 50%;
            opacity: 0;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        &:hover {
            > .edit {
                opacity: 1;
            }

            > .blocker {
                background-color: rgba($color-white, 0.75);
            }
        }
    }
}
