.admin-components {
    padding-top: $height-admin-header;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 100vh;
    height: auto;
    width: 100%;
    overflow: hidden;

    .form-group input {
        margin-top: 0;
    }

    @include breakpoint(sm) {
        display: block;
    }

    @include breakpoint(md) {
        display: flex;
        height: 100vh;
        overflow: hidden;
        align-items: stretch;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

    h3 {
        margin-bottom: 16px;
    }

    &-type {
        width: calc(100vw - 40px);

        @include breakpoint(md) {
            width: 80vw;
            max-width: 740px;
        }

        .ar-scene {
            width: 100%;
            height: calc(100vh - 94px) !important;
            min-height: 700px;

            @include breakpoint(md) {
                height: 520px !important;
                min-height: 520px;
            }
        }

        .ar-dialog-content {
            border-bottom: none !important;
        }

        &-jsx,
        &-hook,
        &-content {
            display: flex;
            flex-direction: column;
            height: 100%;

            .help {
                border-bottom: 1px solid $color-grey-light;
                padding: 20px;
                flex-grow: 0;
                flex-shrink: 0;
            }

            form {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                position: relative;

                input {
                    padding-right: 45px;
                }

                .form-group {
                    margin: 0;
                    input {
                        margin-top: 0;
                    }
                }

                .clear-btn {
                    width: 33px;
                    height: 33px;
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    padding: 0;

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                .ar-dropdown {
                    width: 100%;
                    margin-bottom: 20px;
                }

                .ar-dropdown-menu {
                    margin-top: 2px;
                    z-index: 1000;

                    ul li {
                        width: 100%;
                    }

                    li button {
                        white-space: normal;
                        text-align: left;

                        &.active,
                        &:hover {
                            color: $color-primary;
                        }

                        flex-wrap: wrap !important;
                    }
                }
            }

            .submit {
                text-align: center;

                button {
                    width: 100%;

                    @include breakpoint(md) {
                        width: auto;
                    }
                }
            }

            .ar-spinner {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &-footer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 50px;
                flex-shrink: 0;
                padding: 10px;

                button {
                    width: 100%;
                    @include breakpoint(md) {
                        width: auto;
                    }
                }
            }
        }

        &-content-schema {
            width: 100%;
            flex-grow: 1;
            border-bottom: 1px solid $color-grey-light;
            border-top: 1px solid $color-grey-light;
            overflow: hidden;

            ul {
                list-style: none;
                padding: 10px 0;
                margin: 0;
                li { list-style: none; }

                .ar-checkbox-label-right {
                    padding: 6px 20px;

                    span:first-child {
                        text-align: left;
                    }
                }
            }
        }

        &-jsx {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            height: calc(100vh - 94px) !important;
            min-height: 700px;
            overflow: hidden;

            @include breakpoint(md) {
                height: 520px !important;
                min-height: 520px;
            }

            textarea,
            pre {
                border-radius: 0;
                border: 0;
                padding: 20px;
                outline: none;

                &:focus {
                    border: 0;
                    border-radius: 0;
                }
            }

            &-code {
                flex-grow: 1;
                position: relative;
            }

            &-error {
                max-height: 100px;
                overflow: hidden;
                flex-shrink: 0;
                border-top: 1px solid $color-grey-light;
                background-color: lighten($color-grey-light, 2%);

                pre {
                    font-size: 12px;
                    padding: 14px 14px 12px 14px;
                }

                &:empty {
                    display: none;
                }
            }
        }

        &-selector {
            width: 100%;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include breakpoint(md) {
                flex-direction: row;
            }

            &-btn {
                width: 180px;
                height: 160px;
                margin: 20px;
                padding: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                border: none;
                border-radius: 8px;
                background-color: transparent;
                opacity: 0.8;
                transition: all 0.2s ease-in-out;

                &:hover {
                    //opacity: 1;
                    background-color: $color-primary;

                    * {
                        color: $color-light;
                    }

                    svg {
                        width: 80px;
                        height: 80px;
                        fill: $color-light;
                    }
                }
            }

            &-icon {
                flex-grow: 1;

                svg {
                    width: 70px;
                    height: 70px;
                    fill: $color-primary;
                    transition: all 0.2s ease-in-out;

                    &.content {
                        margin-left: 12px;
                    }
                }
            }

            &-label {
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                height: 35px;
                transition: all 0.2s ease-in-out;
                color: $color-gray-dark;
            }
        }
    }

    &-creator {
        display: block;
        background-color: $color-light;
        width: 100%;
        transition: width 0.2s ease-in-out;

        .form-group input {
            margin-top: 0;
        }


        @include breakpoint(md) {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            flex-shrink: 0;
            overflow: hidden;
            width: 420px;
            border-right: 1px solid darken($color-border, 2%);
        }

        .info {
            border-bottom: 1px solid $color-grey-light;
            padding: 20px;
        }

        .attribute {
            padding: 16px 20px;
            border-bottom: 1px solid $color-grey-light;
        }

        .attributes {
            position: relative;
            flex-grow: 1;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                }
            }
        }

        .footer {
            padding: 20px;
            flex-shrink: 0;
            border-top: 1px solid $color-grey-light;
        }
    }

    &-list {
        flex-grow: 1;
        overflow-y: auto;
        padding: $padding-admin-content-zone;
        position: relative;

        .component-name {
            flex-grow: 1;
            display: flex;
            align-items: center;

            input {
                @extend .h3;
                border: none;
                width: 100%;
                height: 42px;
                padding: 0 20px;
                background-color: transparent;

                &:focus {
                    outline: none;
                }

                &:read-only {
                    cursor: default;
                    user-select: none;
                }
            }
        }

        .ar-event-form {
            &:not(:last-child) {
                margin-bottom: $padding-admin-content-zone;
            }
        }

        .info {
            padding: 16px 20px;
        }

        .attribute-add {
            border-top: 1px solid $color-grey-light;
            border-bottom: 1px solid $color-grey-light;
            padding: 16px 20px;
        }

        .attributes {
            ul {
                &,
                li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
            }

            .attribute {
                padding: 16px 20px;
                border-bottom: 1px solid $color-grey-light;
            }
        }

        h3 {
            @extend .h5;
            font-weight: 500;

            &:first-child {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .ar-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 50000;
    }

    .ar-dialog-header-btn {
        &.danger {
            svg {
                fill: $color-danger;
            }
        }

        &.primary {
            svg {
                fill: $color-primary;
            }
        }
    }
}

// Sidebar expanded
.admin-sidebar-expanded {
    .admin-components {
        @include breakpoint(md-only) {
            display: block;
            overflow: auto;
        }

        &-creator {
            @include breakpoint(md-only) {
                width: 100%;
            }
        }

        &-list {
            @include breakpoint(md-only) {
                overflow: visible;
            }
        }
    }
}
