.ar-code {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    overflow-x: auto;
    overflow-y: visible;

    &-lines {
        line-height: inherit;
        font-family: monospace;
        font-size: 16px;
        padding: 0;

        .num {
            color: inherit;
            background-color: transparent;
            font-family: inherit;
            font-size: inherit;
            text-align: right;
            width: 100%;
            padding: 0 16px;
            user-select: none;

            &:first-child {
                padding-top: 16px;
            }

            &:last-child {
                padding-bottom: 16px;
            }
        }
    }

    &-input {
        padding: 16px 0;
        flex-grow: 1;
    }
}
