.admin-media {
    &-directory {
        display: flex;
        flex-wrap: wrap;

        > div {
            width: 100%;
            height: 80vw;
            flex-shrink: 0;
            padding: 0 $padding-admin-content-zone $padding-admin-content-zone 0;
            position: relative;

            @include breakpoint(sm) {
                width: 50%;
                height: 48vw;
            }

            @include breakpoint(md) {
                width: 33%;
                height: 31vw;
            }

            @include breakpoint(xl) {
                width: 25%;
                height: 23vw;
                max-width: 425px;
                max-height: 425px;
            }

            div.media-card {
                width: 100%;
                height: 100%;
                box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
                display: flex;
                flex-direction: column;
                border-radius: 4px;
                overflow: hidden;
                background-color: $color-text-light;
                position: relative;

                &:hover {
                    .media-actions {
                        opacity: 1;
                    }
                }

                button {
                    width: 40px;
                    height: 40px;
                    min-width: 40px;
                    min-height: 40px;
                    padding: 0;

                    svg {
                        fill: currentColor;
                    }
                }
            }

            .media-image {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: calc(100% - 60px);
                overflow: hidden;

                svg {
                    fill: $color-grey;
                }
            }

            div.media-audio,
            div.media-other,
            div.media-video {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                background-color: $color-text-dark;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                height: calc(100% - 60px);
                overflow: hidden;
                position: relative;
                color: $color-grey-light;

                .ar-icon {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 96px;
                    height: 96px;
                }

                audio,
                video {
                    outline: none;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;

                    &:focus {
                        outline: none;
                    }
                }

                a {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                &.media-audio,
                &.media-other {
                    color: $color-gray;
                    background-color: darken($color-white, 0.9%);
                    audio {
                        padding: 0 40px 8px 40px;
                    }
                }
            }

            div.media-info {
                display: flex;
                align-items: center;
                height: 60px;
                min-height: 60px;
                flex-shrink: 0;
                color: $color-text-dark;
                font-size: 11px;
                font-family: sans-serif;
                line-height: 14px;
                padding: 12px;

                .buttons {
                    flex-grow: 0;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                }

                .text {
                    flex-grow: 1;
                }

                .media-actions-button {
                    padding-right: 0;
                }
            }

            div.media-actions {
                position: absolute;
                top: 0;
                right: 0;
                height: calc(100% - 60px);
                padding: 4px;
                opacity: 0;
                transition: opacity 0.25s ease-in-out;

                &-button {
                    padding: 0 8px;

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }

                button {
                    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
                }
            }
        }
    }
}
