.section-sidebar {
    background-color: red;

    .admin-sidebar-container {
        color: $color-sidebar-text;
        background-color: $color-sidebar-bg;
        font-size: $font-sidebar-size;

        overflow-x: hidden;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        min-width: 320px;
        flex-shrink: 0;

        @include breakpoint(sm) {
            max-width: 320px;
            position: relative;
        }
    }
}

.admin-sidebar-toggle {

    display: flex;
    justify-content: center;
    line-height: center;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 10px;
    border: none;
    border-radius: 0 2px 2px 0;
    background-color: $color-sidebar-bg;
    color: $color-sidebar-text;
    user-select: none;
    
    * {
        pointer-events: none;
    }

    &:hover {
        color: darken($color-sidebar-text, 10%);
    }
}
