.blueprint {
    .section-sidebar {
        z-index: 2;

        .zone-admin-sidebar {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1000;

            @include breakpoint(sm) {
                position: relative;
            }

            &-header {
                flex-grow: 0;
                flex-shrink: 0;
            }

            &-menu {
                flex-grow: 1;
            }

            &-container {
                color: $color-sidebar-text;
                background-color: $color-sidebar-bg;
                font-size: $font-size-sidebar;

                display: flex;
                flex-direction: column;
                overflow-x: hidden;
                width: 100%;
                height: 100vh;
                flex-shrink: 0;
                transition: background-color 0.5s ease-in-out;
            }
        }

        .expanded {
            .zone-admin-sidebar-container {
                background-color: lighten($color-sidebar-bg, 5%);
            }
        }
    }

    .admin-sidebar-toggle {
        z-index: 100000;
        display: flex;
        justify-content: center;
        line-height: center;
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 15px;
        bottom: 5px;
        border: none;
        border-radius: 50px;
        background-color: $color-sidebar-bg;
        color: $color-sidebar-text;
        user-select: none;
        transition: background-color 0.5s ease-in-out,
        border-radius 0.5s ease-in-out;

        * {
            pointer-events: none;
        }

        @include breakpoint(sm) {
            border-radius: 0;
            background-color: transparent;

            &.expanded {
                background-color: transparent;
            }
        }
    }
}
