@use 'sass:math';

@import './admin';

@mixin admin-header-zone() {
    z-index: map-get($z-indexes, 'header');
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    height: $height-admin-header;
    overflow-y: visible;
    background-color: $color-admin-header-bg;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: row;
    padding: 0 8px 0 24px;
    border-bottom: 1px solid darken($color-admin-header-border, 2%);
}

@mixin admin-content-zone() {
    padding: $padding-admin-content-zone;
    padding-top: #{$height-admin-header + $padding-admin-content-zone};
    z-index: map-get($z-indexes, 'default');

    @include breakpoint(lg) {
        padding-left: $padding-admin-content-zone;
    }
}

@mixin admin-content-region() {
    @include admin-content-zone;
    padding-top: 20px;
}

@mixin admin-actions-zone() {
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
    z-index: map-get($z-indexes, 'actions');
    top: math.div($height-admin-header, 2);;
    transform: translateY(-50%);
    padding-left: $padding-default;

    &:empty {
        display: none;
    }
}

@mixin admin-header-button() {
    width: $height-admin-header-button;
    height: $height-admin-header-button;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: $color-admin-header;
    border: none;

    > * {
        pointer-events: none;
    }

    svg {
        fill: $color-admin-header;
        fill: currentColor;
    }
}

@mixin settings-dialog() {
    padding: $padding-settings-dialog;
}

@mixin flex-row() {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin placeholder($clr) {
    &::-webkit-input-placeholder {
        color: $clr;
    }

    &:-ms-input-placeholder {
        color: $clr;
    }

    &::placeholder {
        color: $clr;
    }
}
