.ar-rte {
    *[type='embed'] {
        margin-left: -4px;
        margin-right: -4px;
        position: relative;
        outline: none;
        user-select: none;
        display: block;
        width: 100%;

        [data-slate-spacer] {
            display: none;
        }

        &.right {
            width: auto;
            float: right;
        }

        &.left {
            width: auto;
            float: left;
        }

        &.box,
        img,
        video {
            padding: 4px;
            max-width: 100%;
            border: 2px dashed transparent;
            transition: border 0.25s ease-in-out;
        }

        img {
            max-width: 100%;
        }

        video {
            outline: none;
        }

        .actions {
            position: absolute;
            top: 0;
            right: 0;
            padding: 4px;
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            button {
                width: 24px;
                height: 24px;
                padding: 0;

                svg {
                    width: 14px;
                    height: 14px;
                }
            }
        }

        &:hover,
        &:focus,
        &.selected {
            &.box,
            img,
            video {
                border: 2px dashed $color-grey;
            }

            .actions {
                opacity: 1;
            }
        }
    }
}
