.ar-rte {
    &-image
    &-video {
        margin: 0;
        width: 100%;
        overflow: hidden;

        [data-slate-spacer] {
            display: none;
        }
    }

    &-image {
        img {
            max-width: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &-video {
        video {
            padding: 4px;
            max-width: 100%;
            outline: none;
        }
    }
}
