.ar-rte {
    &-image &-video {
        margin: 0;
        width: 100%;
        overflow: hidden;

        [data-slate-node] {
            display: none;
        }

        [data-slate-spacer] {
            display: none;
        }
    }

    &-image {
        img {
            max-width: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &-video {
        video {
            padding: 4px;
            max-width: 100%;
            outline: none;
        }
    }
}

#rte-image-settings {
    width: 80vw;

    @include breakpoint(sm) {
        max-width: 400px;
        min-width: 300px;
    }

    .ar-settings-dialog {
        > .ar-dialog-content {
            height: calc(100vh - 60px);
        }
    }
}
