// container for fields
.types-fields {
    padding: 20px 90px 20px 20px;
    min-height: 100px;

    &:not(:first-of-type) {
        padding-top: 0;
    }

    @include breakpoint(md-down) {
        padding-left: 100px;
    }

    @include breakpoint(sm-down) {
        padding-left: 20px;
    }

    .field-drop {
        position: relative;
        border: 2px dashed $color-grey;
        padding: 20px;
    }

    .region-label {
        margin-bottom: 20px;
        &:first-child {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .empty-message {
        padding-left: 4px;
        font-size: 12px;
    }
}
