// container for fields
.types-fields {
    padding: 20px 90px 20px 20px;
    min-height: 100px;

    @include breakpoint(md-down) {
        padding-left: 100px;
    }

    @include breakpoint(sm-down) {
        padding-left: 20px;
    }

    .field-drop {
        position: relative;
        border: 1px dashed $color-grey;
        padding: 20px;
        // .region-label {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        // }
    }

    .region-label {
        margin-bottom: 20px;
    }

    // &-empty {
    //     height: 200px;
    //
    //     .field-drop {
    //         height: 100%;
    //         border: none;
    //         // padding: 0;
    //     }
    // }
}

// .empty-message {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background: $color-white;
//     border: 1px dashed $color-grey;
//     height: 100%;
//
//     span {
//         text-align: center;
//         line-height: 1.5;
//         width: 80%;
//     }
// }
