.admin-image-crop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: $color-grey-light;
    position: relative;
    color: $color-grey;
    overflow: hidden;

    img {
        border: 4px solid $color-white;
        box-shadow: $shadow-image;
        max-width: 340px;
        height: auto;
    }

    button.refresh,
    button.remove {
        opacity: 0;
        position: absolute;
        bottom: 28px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: $shadow-image;
        transition: .25s ease-in-out;
    }

    .placeholder {
        fill: currentColor;
        stroke: currentColor;
    }

    .actions {
        opacity: 0;
        transition: .25s ease-in-out;
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px;

        button {
            width: 45px;
            height: 45px;
            padding: 0;
            box-shadow: $shadow-image;
        }
    }

    &:hover {
        .actions,
        button.refresh,
        button.remove {
            opacity: 1;
        }
    }
}

.ar-tooltip {
    white-space: nowrap;
}
