.zone {
    &-admin-media-editor {
        min-height: 100vh;
        padding-top: 60px;
        position: relative;
    }

    .admin-media-editor {
        min-height: calc(100vh - 60px);
        position: relative;
    }
}
