.zone-admin-content-type-editor {
    padding-top: #{$height-admin-header + $padding-admin-content-zone};
    z-index: map-get($z-indexes, 'default');
    min-height: 120vh;
}

.type-editor {
    .types-tools {
        position: fixed;
        top: 260px;
        right: 20px;
    }
}

.admin-content-region-type {
    padding-top: 0;
    padding-right: 90px;
}
