$height-thumbnail-select: 280px !default;

.admin-thumbnail-select {
    padding: 20px;
    background-color: $color-grey-light;
    position: relative;
    background-color: $color-text-light;
    height: $height-thumbnail-select;
    position: relative;

    .empty {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 20px;
        border: 4px dashed $color-admin-header-border;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        flex-direction: column;
    }

    .delete-scene {
        @extend .empty;
        border: none;
    }

    .actions {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;

        button {
            padding: 0;
            width: 40px;
            height: 40px;
            margin-bottom: 8px;

            svg {
                width: 20px;
                height: 20px;
            }

            &.settings {
                overflow: hidden;

                svg.ar-icon {
                    transition: transform 0.25s ease-in-out;
                }

                &:hover {
                    svg.ar-icon {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    .canvas {
        opacity: 0;
        height: 100%;
        background-size: cover;
        background-position: center center;
        position: relative;
        transition: opacity .25s ease-in-out;
        border: 4px solid $color-white;
        box-shadow: $shadow-image;
        line-height: 1;
        display: block;
    }

    .admin-image-crop {
        height: 100%;
        position: relative;
    }
}

.admin-thumbnail-select-blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: map-get($z-indexes, overlay);
    background-color: rgba($color-white, 0.5);
    cursor: wait;
}
