.#{$admin-user-list-ns} {
    position: relative;
    padding-top: $height-admin-header;
    padding-bottom: $padding-admin-content-zone;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    &-row {
        @extend .row;
        flex-grow: 1;
        position: relative;
        justify-content: center;
        padding-left: $padding-admin-content-zone;
    }

    &-column {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-shrink: 0;
        position: relative;
        width: 100%;
        height: 380px;
        padding-right: $padding-admin-content-zone;
        padding-top: $padding-admin-content-zone;
        color: $color-text-dark;

        // &.current {
        //     order: -1;
        // }

        &:hover {
            .#{$admin-user-list-ns}-item-actions-left,
            .#{$admin-user-list-ns}-item-actions-right {
                svg {
                    fill: $color-text-light;
                }

                &:hover {
                    svg {
                        fill: $color-primary;
                    }
                }
            }
        }

        @include breakpoint(sm) {
            width: 320px;
        }
    }

    &-spinner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: map-get($z-indexes, overlay);
        pointer-events: none;
    }

    &-card {
        border-radius: 2px;
        background-color: $color-text-light;
        box-shadow: $shadow-image;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        color: inherit;
        transition: all 0.25s ease-in-out;

        &.link:hover {
            text-decoration: none;
            background-color: $color-primary;
            color: $color-text-light;
        }

        &-avatar {
            width: 124px;
            height: 124px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 100%;
            margin-bottom: 24px;

            &.placeholder {
                background-color: $color-place-holder;
            }
        }

        &-title {
            color: inherit;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 2px;

            &.placeholder {
                width: 100px;
                height: 8px;
                background-color: $color-place-holder;
            }
        }

        &-role {
            color: inherit;
            font-size: 12px;
            margin-bottom: 16px;
            text-transform: capitalize;

            &.placeholder {
                width: 75px;
                height: 8px;
                background-color: $color-place-holder;
            }
        }

        &-email {
            color: inherit;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;

            &.placeholder {
                width: 110px;
                height: 8px;
                background-color: $color-place-holder;
            }
        }
    }

    &-item-actions-left,
    &-item-actions-right {
        z-index: 10;
        position: absolute;
        top: $padding-admin-content-zone;
        width: 40px;
        max-height: calc(100% - #{$padding-admin-content-zone});
        color: inherit;

        &:empty {
            display: none;
        }
    }

    &-item-actions-left {
        left: 0;
    }

    &-item-actions-right {
        right: $padding-admin-content-zone;
    }

    &-heading {
        display: flex;
        align-items: center;
        min-height: $height-admin-list-toolbar;
        padding: $padding-admin-content-zone 16px;
        border-bottom: 1px solid darken($color-admin-header-border, 2%);
        background-color: $color-text-light;
        flex-shrink: 0;

        @include breakpoint(sm) {
            padding: $padding-admin-content-zone 40px;
        }

        h2 {
            font-size: 14px;
            @include breakpoint(sm) {
                font-size: 20px;
            }
        }

        &-count {
            margin-right: 8px;
        }
    }

    &-toolbar {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;

        .ar-dropdown {
            &-menu {
                width: 100%;
                min-width: 200px;
            }
        }

        .ar-pagination {
            @include breakpoint(xs-only) {
                display: none;
            }
        }
    }

    .pagination-bottom {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: $padding-admin-content-zone;
    }
}
