.#{$admin-user-list-ns} {
    position: relative;
    padding-top: $height-admin-header;
    padding-bottom: $padding-admin-content-zone;
    padding-left: $padding-admin-content-zone;

    &-row {
        @extend .row;
        position: relative;
    }

    &-column {
        @extend .col-xs-12;
        @extend .col-sm-6;
        @extend .col-md-4;
        @extend .col-lg-3;

        display: flex;
        justify-content: center;
        align-items: stretch;
        position: relative;
        height: calc(80vw - #{$padding-admin-content-zone * 2});
        padding-right: $padding-admin-content-zone;
        padding-top: $padding-admin-content-zone;

        @include breakpoint(sm) {
            height: calc(50vw - #{$padding-admin-content-zone * 2});
        }

        @include breakpoint(md) {
            height: calc(33vw - #{$padding-admin-content-zone * 2});
        }

        @include breakpoint(xl) {
            height: calc(24vw - #{$padding-admin-content-zone * 2});
        }
    }

    &-spinner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: map-get($z-indexes, overlay);
        pointer-events: none;
    }

    &-card {
        border-radius: 2px;
        background-color: $color-text-light;
        box-shadow: $shadow-image;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        color: $color-text-dark;
        transition: all 0.25s ease-in-out;

        &.link:hover {
            text-decoration: none;
            background-color: $color-primary;
            color: $color-text-light;
        }

        &-avatar {
            width: 124px;
            height: 124px;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 100%;
            margin-bottom: 24px;

            &.placeholder {
                background-color: $color-place-holder;
            }
        }

        &-title {
            color: inherit;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 2px;

            &.placeholder {
                width: 100px;
                height: 8px;
                background-color: $color-place-holder;
            }
        }

        &-role {
            color: inherit;
            font-size: 12px;
            margin-bottom: 16px;
            text-transform: capitalize;

            &.placeholder {
                width: 75px;
                height: 8px;
                background-color: $color-place-holder;
            }
        }

        &-email {
            color: inherit;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;

            &.placeholder {
                width: 110px;
                height: 8px;
                background-color: $color-place-holder;
            }
        }
    }

    &-item-actions-left,
    &-item-actions-right {
        z-index: 10;
        position: absolute;
        top: $padding-admin-content-zone;
        width: 40px;
        max-height: calc(100% - #{$padding-admin-content-zone});

        &:empty {
            display: none;
        }
    }

    &-item-actions-left {
        left: 0;
    }

    &-item-actions-right {
        right: $padding-admin-content-zone;
    }
}
