.admin-media {
    &-uploads {
        flex-grow: 0;
        display: block;
        z-index: 1;
        background-color: $color-text-light;

        ul,
        li {
            list-style: none;
            margin: 0;
        }

        ul {
            padding: 0;
        }

        ul li {
            @include flex-row();
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
        }

        &:empty {
            display: none;
        }

        .ar-progress.xs {
            height: 10px;
        }
    }

    &-upload {
        font-size: 14px;
        color: $color-gray;
        padding: $padding-admin-content-zone;
        border-bottom: 1px solid darken($color-admin-header-border, 2%);

        &-image {
            width: 72px;
            height: 72px;
            flex-shrink: 0;
            flex-grow: 0;
            border-radius: 2px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-grey;
            background-position: center;
            background-size: cover;
            color: $color-text-light;

            &.queued {
                opacity: 0.5;
            }
        }

        &-info {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
            overflow-x: hidden;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            white-space: pre-wrap;
            word-wrap: break-word;

            padding-left: $padding-admin-content-zone;
            font-family: Helvetica, Arial, sans-serif;

            &.queued {
                opacity: 0.5;
            }
        }

        &-name {
            font-weight: 600;
        }

        &-size {
            font-size: 11px;
        }

        &-url {
            font-size: 11px;
        }

        &-action {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-left: $padding-admin-content-zone;

            button {
                width: $width-upload-action-button;
                height: $width-upload-action-button;
                padding: 0;
                overflow: hidden;
            }
        }

        &-status {
            font-size: 10px;
            text-transform: uppercase;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 3px;
            padding-left: $padding-admin-content-zone;
        }
    }
}
