.#{$admin-content-ns} {
    &-meta {
        background-color: $color-white;
        width: $width-ace-sidebar;
        min-height: calc(100vh - #{$height-admin-header});
        border-left: 1px solid $color-admin-header-border;

        .#{$admin-content-ns}-editor-region {
            padding: 0;

            .ar-dialog {
                box-shadow: 0 0 1px 1px rgba($color-black, 0.025);
                border-radius: 0;
            }
        }
    }

    &-sidebar {
        position: fixed;
        display: flex;
        align-items: stretch;
        right: 0;
        top: $height-admin-header;
        height: calc(100vh - #{$height-admin-header});

        &.expanded {
            .#{$admin-content-ns}-toolbar {
                box-shadow: $shadow-image;
            }
        }

        &-toggle {
            position: absolute;
            top: 50%;
            right: -1px;
            width: $height-admin-header/2;
            height: $height-admin-header;
            overflow: hidden;
            transform: translateY(-50%);
            z-index: 5000000;

            &:before {
                content: '';
                width: $height-admin-header;
                height: $height-admin-header;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 100%;
                border: 1px solid darken($color-grey-light, 1%);
                background-color: $color-white;
                z-index: 0;
                pointer-events: none;
            }

            button {
                width: 100%;
                height: 100%;
                padding: 0 0 0 10px;
                z-index: 100;

                svg {
                    pointer-events: none;
                    z-index: 100;
                }
            }
        }
    }

    &-toolbar {
        position: relative;
        height: calc(100vh - #{$height-admin-header});
        background-color: $color-grey-light;

        &-scroll {
            min-height: calc(100vh - #{$height-admin-header});
            display: flex;
            flex-direction: column;
            position: relative;

            &:empty {
                display: none;
            }
        }

        &-top,
        &-bottom {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            z-index: 1;
            width: 70px;

            &:empty {
                display: none;
            }

            > button {
                width: 100%;
                height: 70px;
                padding: 0;
                flex-shrink: 0;
            }
        }

        &-top {
            padding-top: $padding-admin-content-zone/2;
            justify-content: flex-start;
        }

        &-bottom {
            padding-bottom: 6px;
            justify-content: flex-end;
        }
    }

    &-collapsible {
        box-shadow: $shadow-image;
        background-color: $color-white;
    }
}
