@mixin inputStyleFocus($clr: $input-color-focus) {
    box-shadow: 0 0 0 3px rgba(lighten($clr, 5%), 0.25);
    border-color: $clr;
    transition: box-shadow 0.125s;
}

@mixin inputStyle($clr: $input-color-focus,
    $clr-border: $input-color-border,
    $radius: $input-radius) {
    flex-grow: 1;
    font-family: #{map-get($fonts, helvetica-neue)};
    font-weight: #{map-get($font-weights, medium)};
    font-size: 16px;
    outline: none;
    border: 1px solid $clr-border;
    border-radius: $radius;
    box-shadow: 0 0 0 3px rgba($clr, 0);
    margin: 0;
    padding: 10px 10px 8px 12px;
    width: 100%;
    min-height: 43px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:focus,
    &.focus {
        @include inputStyleFocus($clr);
    }

    &:disabled {
        opacity: 0.8;
    }
}
