.type-name {
    &-header, &-input {
        padding: 20px;
        border-bottom: 1px solid darken($color-admin-header-border, 5%);

        @include breakpoint(md-down) {
            padding-left: 100px;
        }

        @include breakpoint(sm-down) {
            padding-left: 20px;
        }
    }

    &-input {
        display: flex;
        justify-content: space-between;

        .input-group {
            flex-grow: 1;
            margin-right: 20px;
        }
    }

    button[type="submit"] {
        padding: 0;
        font-size: 18px;
        width: 100px;
    }
}
