.type-name {
    &-header, &-input {
        padding: 20px;
        border-bottom: 1px solid $color-grey;
        @include breakpoint(md-down) {
            padding-left: 100px;
        }

        @include breakpoint(sm-down) {
            padding-left: 20px;
        }
    }

    &-input {
        display: flex;
        justify-content: space-between;

        .input-group {
            flex-grow: 1;
            margin-right: 20px;
        }
    }

    .input-group {
        &.error {
            @extend .form-group.error;
        }
    }
}
