.rte-icons {
    &-search {
        padding: 16px;
        background-color: #fdfdfd;
        border-bottom: 1px solid $color-border;

        .input-group {
            background-color: $color-text-light;

            input {
                min-width: 0;
                flex-grow: 1;
                margin: 0 -1px 0 0;
                background-color: transparent;
                border: 1px solid #f3f3f3;

                &:focus {
                    z-index: 10000;
                    border: 1px solid $color-primary;
                }
            }
        }

        [type='number'] {
            width: 80px;
            text-align: center;
            padding-right: 0;
        }
    }
}

.rte-icon {
    position: relative;

    .delete-btn {
        min-width: 24px;
        min-height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        border-radius: 100%;
        opacity: 0;
        &:hover {
            opacity: 1;
        }

        svg {
            width: 14px;
            height: 14px;
            fill: currentColor;
        }
    }

    &:hover {
        .delete-btn {
            opacity: 1;
        }
    }
}
