.admin-directory-editor {
    width: 90vw;

    .input-group {
        align-items: center;

        span {
            width: 28px;
            text-align: center;
        }

        input {
            cursor: text;
        }
    }

    input {
        border: none !important;
        width: 100%;
    }

    @include breakpoint(sm) {
        width: 480px;
    }

    .permission {
        .ar-dropdown-menu {
            min-width: 120px;
        }
    }


    .ar-tags-input {
        border: none !important;

        input {
            display: none;
        }
    }

    .selections {
        margin-top: 12px;
        border-top: 1px solid $color-admin-header-border;

        &:empty {
            display: none;
        }
    }
}
