$setting-editor-error-color: $color-danger !default;
.setting-editor {
    padding: 20px;

    .webform-error {
        margin: 20px 0;
        list-style: none;
        &-item {
            color: $setting-editor-error-color;
        }
    }

    .form-group {
        .hover-show {
            opacity: 0;
            transition: opacity .2s ease-in-out;
        }

        &:hover {
            .hover-show {
                opacity: 1;
            }
        }
    }
}
