$input-color-error: $color-danger !default;

.form-group,
.input-group {
    *[aria-invalid='true'] {
        &:not([type='checkbox']) {
            &:not([type='radio']) {
                @include inputStyleFocus($input-color-error);

                &:focus,
                &.focus {
                    border: 1px solid $input-color-error;
                    box-shadow: none !important;
                }
            }
        }
    }

    .error-message {
        color: $input-color-error;
        margin-top: 8px;
        font-size: 12px;
    }
}
