.#{$admin-sidebar-ns} {
    &.collapsed,
    &.collapsed > div,
    &-spacer.collapsed {
        width: 0px;

        @include breakpoint(sm) {
            width: 80px;
        }
    }

    &.expanded,
    &.expanded > div,
    &-spacer.expanded {
        width: 100vw;

        @include breakpoint(sm) {
            width: 320px;
            max-width: 320px;
        }
    }

    &-spacer {
        &.expanded {
            width: 0px;
            max-width: 0px;

            @include breakpoint(sm) {
                width: 80px;
                max-width: 80px;
            }

            @include breakpoint(md) {
                width: 320px;
                max-width: 320px;
            }
        }
    }

    &.expanded {
        @include breakpoint(sm) {
            box-shadow: 0 0 15px 15px rgba($color-black, .25);
        }

        @include breakpoint(md) {
            box-shadow: none;
        }
    }
}

.#{$admin-sidebar-ns} {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: hidden;
    z-index: map-get($z-indexes, 'sidebar');
    background-color: lighten($color-sidebar-bg, 5%);
    color: $color-grey-light;
    transition: width 0.2s ease-in-out;

    &-spacer {
        opacity: 0;
        height: 10px;
        position: relative;
        transition: width 0.2s ease-in-out;
    }

    &-header {
        flex-grow: 0;
        flex-shrink: 0;
    }

    &-menu {
        flex-grow: 1;
    }

    &-footer {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0 15px 5px 80px;
        height: 60px;

        &:empty {
            display: none;
        }
    }

    &-container {
        color: $color-sidebar-text;
        font-size: $font-size-sidebar;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100%;
        flex-shrink: 0;
        transition: background-color 0.5s ease-in-out;
    }
}

.admin-sidebar-toggle {
    z-index: map-get($z-indexes, 'sidebar') + 1;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 5px;
    width: $width-sidebar-collapsed;
    border: none;
    background-color: transparent;

    * {
        pointer-events: none;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: center;
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;

        border-radius: 50px;
        background-color: $color-sidebar-bg;
        color: $color-sidebar-text;
        user-select: none;
        transition: background-color 0.5s ease-in-out;

        @include breakpoint(sm) {
            background-color: lighten($color-sidebar-bg, 5%);
        }
    }

    &.expanded {
        .admin-sidebar-toggle {
            .button {
                background-color: $color-sidebar-bg;

                @include breakpoint(sm) {
                    background-color: lighten($color-sidebar-bg, 5%);
                }
            }
        }
    }
}
