$height-admin-content-type-list: calc(100vh - #{$height-admin-header}) !default;

.admin-content-type-list {
    padding-top: $height-admin-header;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;

    &-empty {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
            width: 80vw;
            height: 80vw;
            min-width: 280px;
            min-height: 280px;

            @include breakpoint(sm) {
                width: 25vw;
                height: 25vw;
                min-width: 350px;
                min-height: 350px;
            }

            @include breakpoint(md) {
                width: 30vw;
                height: 30vw;
            }
        }
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        min-height: $height-admin-content-type-list;
        padding-top: $padding-admin-content-zone;
        padding-left: $padding-admin-content-zone;
    }

    &-card {
        position: relative;
        color: $color-text-dark;
        margin-right: $padding-admin-content-zone;
        margin-bottom: $padding-admin-content-zone;
        box-shadow: $shadow-image;
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: $color-text-light;
        border-radius: 4px;
        padding: $padding-admin-content-zone;

        &:hover {
            text-decoration: none;
            color: $color-gray;
        }

        @include breakpoint(sm) {
            width: 240px;
            height: 240px;
        }
    }

    &-graphic,
    &-icon {
        width: 100%;
        height: 172px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-graphic {
        svg {
            width: 150px;
            flex-shrink: 0;
        }
    }

    &-icon {
        svg {
            width: 80px;
            height: 80px;
            flex-shrink: 0;
            fill: $color-grey;
        }
    }

    &-edit {
        position: absolute;
        top: 8px;
        right: 8px;
    }

    &-label {
        font-weight: 500;
    }
}
