$rte-block-ns: block !default;

.ar-rte {
    [type='#{$rte-block-ns}'] {
        &.#{$rte-block-ns} {
            margin: 15px -4px;
            position: relative;
            outline: none;
            user-select: none;
            align-items: stretch !important;
            padding: 16px;
            border: 2px dashed lighten($color-grey, 5%);
            flex-grow: 1;
            max-width: 100%;

            &:first-child {
                margin-top: 0;
            }

            .#{$rte-block-ns} {
                margin: 0 -4px 4px 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &:hover {
                > div > .#{$rte-block-ns}-actions {
                    opacity: 1;
                }

                > div > .add {
                    opacity: 1;
                }
            }

            .add {
                position: absolute;
                width: 100%;
                height: 1px;
                overflow: visible;
                left: 0;
                padding: 0 10px;
                display: flex;
                justify-content: center;
                z-index: 40;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;

                button {
                    width: 20px;
                    height: 20px;
                    padding: 0;
                    transform: translateY(-50%);

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                &.after {
                    bottom: -1px;
                }

                &.before {
                    top: -1px;
                }
            }

            &.row {
                > .block-content {
                    @extend .row;

                    > .block {
                        max-width: none;
                        margin: 0 0 -2px -2px;
                        padding: 8px;
                        display: inline-block;

                        ul,
                        li {
                            width: 100%;
                        }

                        > div {
                            width: 100%;
                        }
                    }
                }
            }

            &.full {
                min-width: 100%;
            }
        }

        .#{$rte-block-ns}-actions {
            @extend .btn-group;
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 50;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;

            > button {
                padding: 0;
                width: 24px;
                height: 24px;
                flex-shrink: 0;
            }
        }

        .#{$rte-block-ns}-content {
            position: relative;
        }
    }
}
