.admin-sidebar-menu-items {
    position: relative;
    padding: 0 0 55px 0;

    .menu-break {
        display: block;
        border-bottom: 1px solid $color-sidebar-bg;
        margin: 12px 0;
        opacity: 1;
    }

    .menu-item {
        min-width: $width-sidebar-expanded;

        &-row {
            display: block;
        }

        &-link {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            border-left: 2px solid transparent;
            text-align: left;
            color: $color-sidebar-text;
            padding: 0;
            width: 100%;
            opacity: 0.8;

            &:hover {
                opacity: 1;
                text-decoration: none;
            }

            &.active {
                opacity: 1;
                border-left: 2px solid $color-menu-item-active;
                background-color: rgba($color-sidebar-bg, 0.5);

                .menu-item-icon {
                    color: $color-menu-item-active;
                }
            }
        }

        &-icon {
            width: $width-sidebar-collapsed;
            height: $height-menu-item;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 0;

            * {
                pointer-events: none;
            }
        }

        &-label {
            flex-grow: 1;
            height: $height-menu-item;
            display: none;
            font-size: $font-size-menu-item;
            font-weight: $font-weight-menu-item;
            padding: 0 0 0 8px;
        }

        &-count {
            border-radius: 12px;
            padding: 3px 6px 2px 6px;
            font-size: 10px;
            text-transform: uppercase;
            line-height: 1;
            background-color: $color-menu-item-active;
            transform: translateX(-140%) translateY(-100%);
            box-shadow: 0 0 5px 1px rgba($color-black, 0.25);
        }

        &-content {
            display: none;
        }
    }
}

.expanded {
    .admin-sidebar-menu-items {
        padding: 12px 0 56px 0;

        .menu-item {
            &-link {
                padding: 0 13px;
                // margin: 6px 0;

                &:hover {
                    background-color: rgba($color-black, 0.1);
                }
            }

            &-icon {
                width: $width-menu-item;
                min-height: $height-menu-item-expanded;
            }

            &-label {
                min-height: $height-menu-item-expanded;
                display: flex;
                align-items: center;
            }

            &-count {
                transform: translateX(0) translateY(0);
            }

            &-content {
                display: block;

                .ar-collapsible {
                    background-color: rgba($color-sidebar-bg, 0.5);
                    border-left: 2px solid $color-menu-item-active;
                    padding-bottom: 8px;

                    .menu-item {
                        &-link {
                            margin: 0;
                            color: darken($color-sidebar-text, 10%);
                            font-size: $font-size-menu-item - 2px;

                            &:hover {
                                background-color: transparent;
                            }
                            &.active {
                                background-color: transparent;
                                border-left: none;
                            }
                        }

                        &-icon,
                        &-label {
                            height: $height-menu-item - 20px;
                            font-size: inherit;
                        }
                    }
                }
            }
        }
    }
}

.collapsed,
.collapsing {
    .menu-break {
        height: 0;
        opacity: 0;
        margin: 0;
    }
}
