.admin-sidebar-menu-items {
    position: relative;
    padding: 0 0 55px 0;

    .menu-item {
        min-width: $width-sidebar-expanded;

        &-row {
            display: block;
        }

        &-link {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            border-left: 2px solid transparent;
            transition: opacity 0.5s ease-in-out, border-color 0.5s ease-in-out;
            text-align: left;
            color: $color-sidebar-text;
            padding: 0;
            width: 100%;
            opacity: 0.8;

            &:hover {
                opacity: 1;
                text-decoration: none;
            }

            &.active {
                opacity: 1;
                border-left: 2px solid $color-menu-item-active;
                .menu-item-icon {
                    color: $color-menu-item-active;
                }
            }
        }

        &-icon {
            width: $width-sidebar-collapsed;
            height: $height-menu-item;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 0;
        }

        &-label {
            flex-grow: 1;
            height: $height-menu-item;
            display: flex;
            align-items: center;
            font-size: $font-size-menu-item;
            padding: 0 0 0 8px;
        }

        &-content {
            display: none;
        }
    }
}

.expanded {
    .admin-sidebar-menu-items {
        padding: 32px 0 55px 0;

        .menu-item {
            &-link {
                padding: 0 13px;
                margin: 6px 0;
            }

            &-icon {
                width: $width-menu-item;
                height: $height-menu-item-expanded;
            }

            &-label {
                height: $height-menu-item-expanded;
            }

            &-content {
                display: block;
            }
        }
    }
}
