.rte-settings {
    width: 80vw;

    @include breakpoint(sm) {
        max-width: 400px;
        min-width: 300px;
    }

    .ar-settings-dialog {
        > .ar-dialog-content {
            position: relative;
            height: 30vh;
        }

        > .ar-dialog-header {
            h2 {
                padding: 8px 16px;
            }
        }
    }

    .ar-dialog.sub {
        box-shadow: none;
        border-radius: 0;

        .ar-dialog-header {
            height: 24px;
            min-height: 32px;
            border-bottom: 1px solid #f7f7f7;
            background-color: darken($color-light, 0.5%);

            h2 {
                padding: 8px 16px !important;
            }
        }

        .ar-dialog-content {
            border: none;
        }
    }

    input.ico {
        padding-left: 32px;
    }

    svg {
        &.ico {
            width: 16px;
            height: 12px;
            position: absolute;
            top: 50%;
            z-index: 10;
            fill: $color-primary;

            &.border {
                fill: $color-grey;
                width: 16px;
                height: 16px;

                g > path:last-child {
                    fill: $color-primary;
                }
            }

            &.top {
                left: 16px;
                transform: translate(-50%, -50%);
            }

            &.right {
                left: 25%;
                transform: translate(50%, -50%);
            }

            &.bottom {
                left: 50%;
                transform: translate(50%, -50%);
            }

            &.left {
                left: 75%;
                transform: translate(50%, -50%);
            }
        }
    }

    &-row {
        @extend .row;
        padding: 12px;
        border-bottom: 1px solid $color-grey-light;
        position: relative;

        > * {
            position: relative;
        }

        button.active {
            color: $color-primary;
        }

        .btn-group {
            width: 100%;
            position: relative;
        }

        .form-group {
            margin: 0;

            input[type='number'] {
                padding-right: 2px;
            }
        }

        .icons {
            position: absolute;
            top: 50%;
            width: 100%;
            padding: 0 14px;
            transform: translateY(-50%);
            pointer-events: none;
        }

        .input-group {
            overflow: visible;
            border-left: none;
            border-right: none;
            position: relative;

            input,
            textarea,
            select {
                background-color: transparent;
            }

            * {
                margin: 0;
                z-index: 1;
            }

            *:focus {
                z-index: 2;
            }

            &.form-group {
                margin: 0;

                > * {
                    border-radius: 0;

                    &:first-child {
                        border-radius: 2px 0 0 2px;
                    }

                    &:last-child {
                        border-radius: 0 2px 2px 0;

                        &:focus {
                            border-right: 1px solid $color-primary;
                        }
                    }
                }
            }
        }

        .heading {
            margin: -12px -12px 12px -12px;
            padding: 8px 20px !important;
            width: calc(100% + 24px);
            display: flex;
        }

        svg {
            fill: currentColor;
        }

        .qt {
            input {
                width: 25%;
            }
        }
    }

    &-footer {
        padding: 12px;
        background-color: lighten($color-grey-light, 1%);
    }

    .heading {
        padding: 8px 20px !important;
        border-bottom: 1px solid $color-grey-light;
    }

    .borderStyles,
    .borderColors {
        button {
            padding: 8px 4px;
            position: relative;
            border: 1px solid transparent;

            &:hover,
            &:focus,
            &.active {
                color: $color-primary;

                div {
                    border-top: 4px solid $color-primary;
                }
            }

            &:focus,
            &.active {
                border: 1px solid $color-primary;
                box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
                color: $color-primary;
            }

            * {
                pointer-events: none;
            }

            > div {
                width: 100%;
                border-right: none !important;
                border-bottom: none !important;
                border-left: none !important;
                border-top: 4px solid $color-grey;
            }

            > small {
                font-size: 8px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: $color-light;
                padding: 0 6px;
                line-height: 10px;
                margin-top: 1px;
            }
        }
    }

    .borderStyles {
        margin-top: 8px;
    }

    .borderColorSelect {
        width: 100%;

        .ar-color-select {
            padding-top: 12px;
            padding-bottom: 0;
            margin: 0 -12px;
            width: calc(100% + 24px);
            border-bottom: none;
        }
    }

    .borderColors {
        width: calc(100% + 24px);
        padding: 8px 0 0 0;

        button {
            > div {
                border-top: none;
                height: 4px;
            }

            > small {
                padding: 2px;
                line-height: 1;
                border-radius: 30px;
            }

            &:hover,
            &:focus,
            &.active {
                color: $color-primary;

                > div {
                    border-top: none;
                }
            }
        }
    }
}

.blue-box {
    border: 4px solid $color-primary;
}

.ar-color-select {
    width: 100%;
    border-bottom: 1px solid $color-grey-light;
    padding-bottom: 12px;

    .remove,
    .swatch {
        width: 52.5px;
        height: 52.5px;
        margin: 12px 0 0 12px;
        user-select: none;
        position: relative;
        border-radius: 2px;
        border: 1px solid transparent;

        &.light {
            &:after {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                border: 2px solid $color-dark;
                opacity: 0.1;
                content: '';
            }
        }

        &:hover,
        &.active {
            cursor: pointer;
            border: 1px solid $color-primary;
            box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
        }
    }

    .remove {
        overflow: hidden;
        border: 8px solid $color-danger;
        border-radius: 100%;

        &:hover,
        &.active {
            border: 8px solid $color-danger;
            box-shadow: 0 0 0 2px rgba($color-danger, 0.25);
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200%;
            height: 8px;
            transform: translate(-50%, -50%) rotate(45deg);
            transform-origin: 50% 50%;
            background-color: $color-danger;
        }
    }

    .transparent {
        background-color: transparent !important;

        &:before {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;

            background-position: 0px 0px, 10px 10px;
            background-size: 20px 20px;
            background-image: linear-gradient(
            45deg,
            white 25%,
            transparent 25%,
            transparent 75%,
            white 75%,
            white 100%
        ),
            linear-gradient(
            45deg,
            white 25%,
            $color-grey-light 25%,
            $color-grey-light 75%,
            white 75%,
            white 100%
        );
        }
    }

    .disabled {
        border: 1px solid darken($color-grey-light, 1%);
        margin-right: 12px;

        &:hover {
            cursor: default;
            box-shadow: none;
            border: 1px solid $color-grey-light;
        }
    }

    &-input {
        @extend .form-group;

        width: 100%;
        flex-shrink: 0;
        padding: 12px;
        margin-bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        border-top: 1px solid $color-grey-light;

        .swatch {
            margin: 0;
            margin-right: 12px;
            height: 48px;
            border-radius: 2px;
        }

        input {
            flex-grow: 1;
            flex-shrink: 1;
            width: auto;
            height: 48px;
            margin: 0;
        }
    }

    &-swatches {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-top: 1px solid $color-grey-light;
    }
}
