.capability-editor {
    .ar-data-table {
        .ar-checkbox-label-right > span:first-child {
            display: none;
        }

        @include breakpoint(xs-only) {
            overflow-x: auto;

            .ar-data-table-heading {
                display: none;
            }

            .ar-checkbox-label-right > span:first-child {
                display: inline;
            }
        }
    }

    .ar-data-table-col,
    .ar-data-table-heading {
        flex-shrink: 0;

        &:first-child {
            flex-shrink: 1;
            @include breakpoint(xs-only) {
                min-width: 200px !important;
            }
        }

        &:not(:first-child) {
            &:not(:last-child) {
                max-width: 150px !important;
                min-width: 0 !important;

                flex-grow: 0 !important;

                @include breakpoint(xs-only) {
                    width: 100px !important;
                    min-width: 100px !important;
                    max-width: 100px !important;
                }
            }
        }

        @include breakpoint(xs-only) {
            font-size: 10px;
        }
    }

    .ar-data-table-col-clear,
    .ar-data-table-heading-clear {
        padding: 0;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .clear-cap {
        padding: 0;
        margin: 0;
        width: 20px;
        height: 20px;

        svg {
            width: 14px;
            height: 14px;
        }
    }
}
