.capability-editor {
    .ar-data-table {
        .ar-data-table-heading {
            display: none;
        }

        @include breakpoint(lg) {
            overflow-x: hidden;

            .ar-data-table-heading {
                display: flex;
            }

            .ar-checkbox-label-right > span:first-child {
                display: none;
            }
        }
    }

    .ar-data-table-col,
    .ar-data-table-heading {
        flex-shrink: 0;
        font-size: 10px;

        &:first-child {
            flex-shrink: 1;
            min-width: 280px !important;

            @include breakpoint(lg) {
                min-width: 0 !important;
            }
        }

        &:not(:first-child) {
            &:not(:last-child) {
                width: 100px !important;
                max-width: 100px !important;
                min-width: 100px !important;

                @include breakpoint(lg) {
                    width: 160px !important;
                    max-width: 160px !important;
                    min-width: 0 !important;

                    flex-grow: 0 !important;
                }
            }
        }

        @include breakpoint(lg) {
            font-size: 14px;
        }
    }

    .ar-data-table-col-clear,
    .ar-data-table-heading-clear {
        padding: 0;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .clear-cap {
        padding: 0;
        margin: 0;
        width: 20px;
        height: 20px;

        svg {
            width: 14px;
            height: 14px;
        }
    }
}
