.rte-grid-panel {
    &-form,
    &-col {
        padding: 8px;
        border-bottom: 1px solid $color-grey-light;

        h4 {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 8px;
            color: $color-gray;
        }

        input[type='number'] {
            text-align: center;
            padding: 4px 2px 4px 4px;
            font-size: 14px;
        }

        button {
            width: 37px;
            height: 37px;
            padding: 0;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    &-footer {
        padding: 8px;
        background-color: lighten($color-grey-light, 1%);
    }
}
