.form-group,
.input-group {
    display: flex;
    flex-direction: column;

    &,
    * {
        position: relative;
    }

    &,
    label {
        input,
        textarea,
        select {
            &:not([type='checkbox']) {
                &:not([type='radio']) {
                    @include inputStyle();
                }
            }
        }

        select:not([multiple]) {
            background-color: $select-color-bg;
            background-image: $select-arrow;
            background-repeat: no-repeat;
            background-position: right 6px top 50%, 0 0;
            background-size: 18px 18px, 100%;
            padding-right: 36px;

            option {
                font-weight: normal;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        select::-ms-expand {
            display: none;
        }

        textarea {
            line-height: 1.25;
        }
    }

    label {
        user-select: none;
        cursor: pointer;
        display: flex;
        position: relative;
        flex-wrap: wrap;

        &,
        * {
            font-weight: normal;
        }
    }

    *[aria-invalid='true'] {
        &:not([type='checkbox']) {
            &:not([type='radio']) {
                @include inputStyleFocus($input-color-error);

                &:focus,
                &.focus {
                    border: 1px solid $input-color-error;
                    box-shadow: none !important;
                }
            }
        }
    }

    .error-message {
        color: $input-color-error;
        margin-top: 8px;
        font-size: 12px;
    }
}
