$tax-chklist-height: 240px !default;
$tax-slide-height: 320px !default;

.field-type-taxonomy {
    .form-group {
        margin-bottom: 0;

        input {
            margin: 0;
        }
    }

    .check-field {
        flex-grow: 0;
        flex-shrink: 0;
        margin-top: 20px;
        padding-right: 20px;

        @include breakpoint(xs-only) {
            min-width: 50%;
        }

        label > span:first-child {
            text-align: left;
        }
    }
}

.editor-taxonomy {
    .ar-carousel-slide {
        min-height: $tax-slide-height;
        display: flex;
        flex-direction: column;
    }

    .ar-tags-input {
        border-color: $color-grey-light;

        &.focus {
            border-color: $color-primary;
        }
    }

    .editor {
        > *:first-child {
            min-height: $tax-chklist-height;
            flex-grow: 1;
        }

        .form-group {
            input,
            textarea,
            select {
                margin: 0;
            }
        }
    }

    .footer {
        width: 100%;
        padding: 16px 20px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        position: relative;

        button {
            min-width: 171px;

            &.back-btn {
                min-width: 0;
                padding: 0;
                width: 30px;
                height: 30px;
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &-checklist-container {
        flex-grow: 1;
        height: $tax-chklist-height;
        overflow: hidden;
    }

    &-checklist-search {
        @extend .form-group;
        background-color: lighten($color-grey-light, 2%);
        border-bottom: 1px solid $color-grey-light;
        margin: 0;
        padding: 16px;
        position: relative;

        input {
            background-color: $color-light;
            border-radius: 40px;
            margin: 0;
            padding: 6px 30px 6px 15px;
        }

        button {
            position: absolute;
            padding: 0;
            margin-right: 21px;
            top: 50%;
            right: 0;
            width: 24px;
            height: 24px;
            transform: translateY(-50%);
        }
    }

    &-checklist {
        padding: 12px 20px;
        margin: 0;

        &,
        li {
            list-style: none;
        }

        li {
            padding: 0;
        }

        label.ar-checkbox-label-right span:first-child {
            margin-top: 1px;
            text-align: left;
        }
    }

    &-tagbox {
        flex-grow: 1;
        height: $tax-chklist-height;
        padding: 20px;
    }
}

.admin-taxonomy {
    padding-top: $height-admin-header;
    &-form {
        width: 100%;
        padding: 20px;
    }
    &-editor {
        width: 80vw;
        max-width: 480px;
        min-height: 242px;
        position: relative;

        .ar-carousel {
            min-height: 242px;
            position: relative;
            align-items: stretch;
        }

        .ar-carousel-slide {
            min-height: 242px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-confirm {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-list {
        padding: $padding-admin-content-zone;
        padding-left: 14px;

        &,
        li {
            list-style: none;
            margin: 0;
        }
    }

    &-list-item {
        width: 100%;

        h2 {
            display: flex;
            align-items: center;
            width: 100%;

            button {
                width: 40px;
                height: 40px;
                padding: 0;
                margin-right: 8px;
            }
        }

        ul {
            margin: 0;
            padding: 0 0 0 48px;

            li {
                padding: 12px 8px 12px 18px;
                margin: 8px 0;
                background-color: $color-light;
                border-radius: 2px;
                line-height: 1;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;

                > *:first-child {
                    flex-grow: 1;
                }

                small {
                    color: $color-gray;
                    font-family: monospace;
                }

                button {
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    margin-left: 8px;
                }

                .trash {
                    fill: $color-red;
                }
            }
        }
    }
}
