$ar-media-picker-bg-color: #fdfdfd !default;
$ar-media-picker-border-color: #f3f3f3 !default;
$ar-media-picker-selection-width: 260px !default;

.ar-media-picker {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .grid {
        display: block;
        padding: 20px 20px 0 20px;

        @include breakpoint(sm) {
            padding: 20px 0 0 20px;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
        }

        .block {
            width: 100%;
            height: 55vw;
            margin-bottom: 20px;
            background-color: $color-grey-light;
            background-position: center center;
            background-size: cover;
            position: relative;
            padding: 10px;
            display: block;
            opacity: 0.9;
            transition: opacity 0.5s ease-in-out;
            cursor: pointer;
            user-select: none;

            &.faded {
                opacity: 0;
            }

            @include breakpoint(sm) {
                margin: 0 20px 20px 0;
                height: 25vw;
                max-width: calc(50% - 20px);
                flex-grow: 1;
                border-radius: 2px;
            }

            @include breakpoint(md) {
                max-width: calc(33.333% - 20px);
                height: 200px;
            }

            @include breakpoint(lg) {
                max-width: calc(25% - 20px);
            }

            @include breakpoint(xl) {
                max-width: calc(20% - 20px);
            }

            @media only screen and (min-width: 2800px) {
                max-width: calc(10% - 20px);
            }

            .video-wrapper {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
                user-select: none;
                position: absolute;
                pointer-events: none;
            }

            video {
                object-fit: cover;
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
            }

            .check,
            .upload {
                position: absolute;
                top: 8px;
                right: 8px;
                opacity: 0;
                width: 40px;
                height: 40px;
                padding: 0;
                overflow: hidden;
            }

            .upload {
                opacity: 1;
            }

            .title,
            .label {
                border-radius: 2px;
                background-color: rgba($color-black, 0.75);
                color: $color-text-light;
                text-align: center;
                padding: 7px 8px 8px 8px;
                width: 100%;
                z-index: 200;
                font-size: 12px;
                opacity: 0;
            }

            .title {
                left: 50%;
                bottom: 10px;
                z-index: 200;
                position: absolute;
                width: calc(100% - 20px);
                transform: translateX(-50%);
            }

            .label {
                opacity: 1;
                background-color: rgba($color-white, 0.75);
                color: $color-text-dark;
            }

            .icon {
                svg {
                    width: 96px;
                    height: 96px;
                    fill: $color-gray;
                }
                margin-bottom: 20px;
            }

            &.selected,
            &:hover {
                &,
                .check,
                .title {
                    opacity: 1;
                    z-index: auto !important;
                }
            }
        }

        .placeholder {
            position: relative;
            overflow: hidden;

            .ar-spinner {
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%) scale(0.5);
            }

            .bg {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.25;
                filter: blur(4px);
                position: absolute;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .title {
                opacity: 1;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .dz-btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            background-color: transparent;
            padding: 0;

            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                overflow: hidden;
                border: 5px dashed $color-grey;
                border-radius: 2px;
                color: $color-gray;
                background-color: transparent;
                padding: 20px;

                svg.ar-icon {
                    width: 50vw;
                    height: 50vw;
                    max-width: 80px;
                    max-height: 80px;
                    min-width: 24px;
                    min-height: 24px;
                    fill: $color-grey;
                    margin-bottom: 16px;

                    @include breakpoint(md) {
                        width: 10vw;
                        height: 10vw;
                    }
                }
            }
        }
    }

    &-selection {
        flex-shrink: 0;
        width: $ar-media-picker-selection-width;
        border-left: 1px solid $ar-media-picker-border-color;
        display: none;
        position: relative;

        @include breakpoint(lg) {
            display: block;
        }

        .grid {
            display: block;
            padding: 20px 20px 0 20px;

            .block {
                max-width: 100% !important;
                height: 200px;
                margin-bottom: 20px;
                border-radius: 2px;
                transition: opacity 0.5s ease-in-out;

                &.faded {
                    opacity: 0;
                }

                @include breakpoint(sm) {
                    height: 25vw;
                }

                @include breakpoint(md) {
                    height: 200px !important;
                }
            }
        }
    }

    &-no-selection {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
        color: $color-gray;
        user-select: none;

        &-icon svg {
            width: 96px;
            height: 96px;
            fill: $color-grey;
            margin-bottom: 40px;
            transform: rotate(-20deg);
        }

        &-label {
            @extend .h3;
            font-weight: 500;
        }
    }

    &-content {
        flex-grow: 1;
        display: flex;
        flex-direction: row-reverse;

        @include breakpoint(md) {
            flex-direction: row;
        }
    }

    &-library {
        flex-grow: 1;
    }

    &-toolbar {
        background-color: $ar-media-picker-bg-color;
        border-bottom: 1px solid $ar-media-picker-border-color;
        width: 100%;
        height: 42px;
        flex-shrink: 0;
        display: flex;
        align-items: center;

        &-dismiss-button {
            height: 40px;
            padding: 0;
            min-width: 40px;
        }
    }

    &-footer {
        width: 100%;
        height: 60px;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        background-color: $ar-media-picker-bg-color;
        border-top: 1px solid $ar-media-picker-border-color;

        @include breakpoint(lg) {
            justify-content: flex-end;
        }

        &-submit-container {
            padding: 0 20px;
            flex-shrink: 0;
            flex-grow: 0;

            @include breakpoint(lg) {
                padding: 0 20px 0 21px;
                width: $ar-media-picker-selection-width;
            }
        }

        &-submit-button {
            width: 100px;
            @include breakpoint(lg) {
                width: 100%;
            }
        }
    }

    &-title {
        padding: 0 8px 0 0;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
        margin: 1px 0 -1px 0;
        user-select: none;
        z-index: 0;
        white-space: nowrap;
    }

    &-search-input,
    &-import-input {
        @extend .form-group;

        position: relative;
        color: $color-gray;
        margin: 0 !important;
        padding: 0;

        &:last-child {
            padding-right: 5px;
        }

        > span.sib > svg.ico {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }

        > span.sib > button.submit {
            padding: 0;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            opacity: 0;
            pointer-events: none;

            svg {
                width: 14px;
                height: 14px;
            }
        }

        input {
            color: $color-gray;
            width: 30px;
            height: 30px;
            margin: 0;
            padding-left: 32px;
            padding-right: 0;
            transition: width 0.25s ease-in-out;
            border: 1px solid transparent;
            background-color: transparent;
            overflow: hidden;
            font-size: 14px;

            &:hover {
                cursor: pointer;
            }

            &.active {
                border: 1px solid $ar-media-picker-border-color;

                &:focus {
                    border-color: $color-primary;
                }
            }

            &:focus + span.sib > svg.ico,
            &:hover + span.sib > svg.ico,
            &.active + span.sib > svg.ico {
                fill: $color-primary;
            }

            &:focus + span.sib > button.submit {
                transition: opacity 1s ease-in-out;
                opacity: 1;
                pointer-events: all;
            }

            &:focus,
            &.active {
                width: 33vw;
                outline: none;
                border-radius: 40px;
                color: $color-black;
                background-color: $color-white;
                cursor: text;
                transition: width 0.125s ease-in-out;
                padding-right: 10px;

                @include breakpoint(sm) {
                    width: calc(#{$ar-media-picker-selection-width} - 10px);
                }
            }
        }
    }

    &-import-input {
        input:focus {
            padding-right: 28px;
        }
    }

    &-directory-select {
        .ar-dropdown-menu {
            min-width: 180px;

            ul li.active button {
                color: $color-primary;
            }
        }
    }

    &-directory-button,
    &-type-button {
        padding: 0;
        min-width: 30px;
        height: 42px;
        flex-shrink: 0;

        .label {
            display: none;
            font-size: 14px;
            text-transform: none;

            @include breakpoint(sm) {
                display: block;
            }
        }

        .icon {
            width: 30px;
            flex-shrink: 0;

            svg {
                width: 18px;
                height: 18px;
            }

            &.active {
                color: $color-primary;
            }
        }

        &:hover {
            svg {
                fill: $color-primary;
            }
        }
    }

    &-type-select {
        .ar-dropdown-menu {
            width: 40px;

            ul li button {
                width: 100%;
                height: 40px;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }

            ul li.active button {
                color: $color-primary;
            }
        }
    }

    &-pagination {
        position: absolute;
        left: 0;
        padding: 10px;

        &:first-child {
            &:last-child {
                position: relative;
                left: auto;
            }
        }

        @include breakpoint(lg) {
            position: relative;
            left: auto;
        }
        // margin-right: 20px;
    }

    &-remaining {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        &-label {
            @extend .small;
            color: $color-gray;
            margin-top: 2px;
            user-select: none;
            padding-left: 8px;
            background-color: $ar-media-picker-bg-color;

            &:not(:last-child) {
                margin-right: 4px;
                padding-right: 12px;
                line-height: 18px;
                border-right: 1px solid $ar-media-picker-border-color;
            }
        }

        &-clear-button {
            padding: 0;
            min-width: 30px;
            height: 42px;
            flex-shrink: 0;

            svg {
                width: 18px;
                height: 18px;
                fill: $color-danger;
            }
        }
    }
}

.ar-modal-content {
    .ar-media-picker {
        background-color: $color-white;
        width: 80vw;
        height: calc(80vh - 66px);
        min-height: 400px;

        &-spinner {
            width: 80vw;
            height: calc(80vh - 24px);
            min-height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-white;
        }
    }
}
