$border-admin-search-bar: 1px solid darken($color-grey-light, 2%) !default;

.admin-search-bar {
    position: relative;
    display: flex;
    margin-right: 12px;

    input {
        width: 33vw;
        height: 34px;
        border: $border-admin-search-bar;
        background-color: transparent;
        padding: 5px 32px;
        background-color: lighten($color-grey-light, 2%);
        border-radius: 50px;
        outline: none;
        color: $color-gray;
        transition: width 0.25s ease-in-out;
        font-size: 14px;
        line-height: 12px;

        @include placeholder($color-gray);

        @include breakpoint(sm) {
            width: 280px;
        }

        &:focus {
            color: $color-text-dark;
            width: 200px;

            @include breakpoint(sm) {
                width: 280px;
            }
        }

        &:hover {
            cursor: text;
        }
    }

    input[value=''] {
        width: 0px;
        padding: 5px 0 5px 32px;

        &:hover {
            cursor: pointer;

            &:focus {
                cursor: text;
            }
        }

        @include breakpoint(sm) {
            width: 0px;
            padding: 5px 0 5px 32px;
        }

        &:focus {
            color: $color-text-dark;
            padding: 5px 32px;
            width: 200px;

            @include breakpoint(sm) {
                width: 280px;
            }
        }
    }

    button {
        position: absolute;
        right: 4px;
        top: 50%;
        width: 24px;
        height: 24px;
        z-index: 2;
        transform: translateY(-50%);
        padding: 0;
    }

    &-icon {
        position: absolute;
        left: 8px;
        top: 50%;
        width: 18px;
        height: 18px;
        z-index: 2;
        transform: translateY(-50%);
        pointer-events: none;
        fill: lighten($color-gray, 15%);
    }
}
