@use 'sass:math';

$padding-user-content-stat: 16px !default;
$padding-user-content-zone: 40px !default;

.#{$admin-user-editor-ns}-content {
    display: block;
    position: relative;
    flex-grow: 1;

    .ar-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &-stats {
        position: relative;
        width: 100%;

        .nav {
            position: absolute;
            top: 50%;
            padding: 0;
            width: $padding-user-content-zone;
            height: 40px;
            transform: translateY(-50%);

            &-left {
                left: 0;
            }

            &-right {
                right: 0;
            }
        }

        .ar-carousel {
            height: auto;
            overflow: hidden;
        }

        .ar-carousel-slide {
            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;
                padding: $padding-user-content-zone;
                padding-bottom: $padding-user-content-zone;

                @include breakpoint(sm) {
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: stretch;
                    padding: $padding-user-content-zone;
                    padding-bottom: $padding-user-content-zone;
                    padding-right: 0;
                }

                @include breakpoint(xl) {
                    flex-direction: row;
                    align-items: stretch;
                    padding: $padding-user-content-zone;
                    padding-bottom: $padding-user-content-zone;
                    padding-right: 0;
                }
            }
        }
    }

    &-stat {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: $color-dark;
        background-color: $color-light;
        box-shadow: $shadow-image;
        margin: 0;
        padding: $padding-user-content-stat;
        transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
        outline: none;

        &:focus {
            box-shadow: 0 0 1px 2px rgba($color-primary, 0.25);
        }

        @include breakpoint(sm) {
            width: calc(50% - #{$padding-user-content-zone});
            margin-right: $padding-user-content-zone;
        }

        @include breakpoint(md) {
            width: calc(33% - #{$padding-user-content-zone});
            margin-right: $padding-user-content-zone;
        }

        @include breakpoint(lg) {
            width: calc(25% - #{$padding-user-content-zone});
            margin-right: $padding-user-content-zone;
        }

        @include breakpoint(xl) {
            width: calc(20% - #{$padding-user-content-zone});
            margin-right: $padding-user-content-zone;
        }

        &-icon {
            border-radius: 100%;
            color: $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: rgba($color-primary, 0.07);
            margin-top: $padding-user-content-stat;
            margin-bottom: $padding-user-content-stat;
            transition: background-color 0.25s ease-in-out,
            color 0.25s ease-in-out;

            flex-shrink: 0;

            svg {
                width: 18px;
                height: 18px;
            }

            @include breakpoint(sm) {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: $padding-user-content-stat;
            }
        }

        &-label {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1;
            font-size: 14px;
            text-transform: capitalize;
            padding-left: math.div($padding-user-content-stat, 2);

            @include breakpoint(sm) {
                flex-direction: row;
            }
        }

        &-count {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-left: math.div($padding-user-content-stat, 2);
            font-weight: 600;
            font-size: px2rem(40);

            @include breakpoint(sm) {
                justify-content: flex-start;
            }
        }

        &:hover {
            text-decoration: none;
            background-color: $color-primary;
            color: $color-light;

            .#{$admin-user-editor-ns}-content-stat-icon {
                color: $color-light;
                background-color: rgba($color-light, 0.07);
            }
        }
    }

    &-list {
        padding-bottom: 80px;

        @include breakpoint(sm) {
            padding-bottom: $padding-user-content-zone;
        }

        &-group {
            position: relative;

            &:first-child {
                &:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-top: 1px solid darken($color-border, 5%);
                    width: calc(100% - #{$padding-user-content-zone * 2});
                }
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: 1px solid darken($color-border, 5%);
                width: calc(100% - #{$padding-user-content-zone * 2});
            }
        }

        &-heading {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px $padding-user-content-zone;
            color: lighten($color-dark, 10%);
            position: relative;
            width: 100%;
            background-color: transparent;
            border: none;
            text-align: left;
            font-size: 16px;
            font-weight: 600;
            flex-grow: 1;
            text-transform: capitalize;
            transition: background-color .25s ease-in-out;

            &.collapsed {
                &:hover {
                    background-color: rgba($color-grey, 0.08);
                }
            }

            button {
                padding: 0;
                width: 40px;
                height: 40px;
            }

            .icon {
                width: 32px;
                margin: 0 8px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .#{$admin-content-list-ns} {
            &-column {
                &-actions {
                    padding-right: 0;
                    min-width: 0;
                }

                &-status {
                    padding-right: 0;
                }

                &-title {
                    &:hover {
                        cursor: default;
                    }
                }
            }

            &-item-container {
                padding-left: $padding-user-content-zone;
                padding-right: $padding-user-content-zone;

                &:first-child {
                    padding-top: 0;
                }

                &:nth-child(even) {
                    .#{$admin-content-list-ns}-item-columns {
                        background-color: $color-light-dark;
                    }
                }
            }
        }
    }

    &-empty {
        width: 100%;
        min-height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $padding-user-content-zone * 2;

        h2 {
            font-size: px2vw(52);
        }

        svg {
            width: 100%;
            height: auto;
            max-width: 400px;
        }

        .ar-dropdown-menu {
            max-width: 200px;
            padding-top: 4px;

            .btn-clear-md {
                font-size: 14px;
                text-transform: uppercase;
            }
        }

        @include breakpoint(sm) {
            h2 {
                font-size: px2vw(40);
            }
        }

        @include breakpoint(md) {
            h2 {
                font-size: px2vw(32);
            }

            svg {
                width: 100%;
                height: auto;
                max-width: 560px;
            }
        }

        @include breakpoint(xl) {
            h2 {
                font-size: 32px;
            }

            svg {
                max-width: 520px;
            }
        }
    }
}
