.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    &-image {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
        width: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        color: $color-avatar-text;
    }
}

.zone-admin-sidebar-container {
    .avatar {
        width: 100%;
        padding: 14px;
        min-width: $width-sidebar-collapsed;
        transition: all 0.2s ease-in-out;
        overflow-x: hidden;
        border-bottom: 1px solid $color-sidebar-bg;

        &-image {
            width: 100px;
            height: 100px;
            max-width: 100px;
            border: 2px solid $color-avatar-stroke;
            opacity: 1;
            transition: all 0.2s ease-in-out;
            overflow: hidden;
        }

        &-labels {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            opacity: 0;
            height: 0px;
            transition: all 0.2s ease-in-out;
            min-width: $width-sidebar-expanded;
            margin: 24px 0 0 0;
            text-align: center;
            overflow: hidden;
            background-color: transparent;
            border: none;

            &:hover {
                text-decoration: none;
                opacity: 0.5 !important;
            }
        }
    }

    &.collapsing {
        .avatar {
            &-image {
                opacity: 0;
                width: 52px;
                height: 52px;

                @include breakpoint(sm) {
                    opacity: 1;
                }
            }

            &-labels {
                opacity: 0;
                height: 0px;
                margin: 0;
            }
        }
    }

    &.collapsed {
        .avatar {
            &-labels {
                opacity: 0;
                height: 0px;
                margin: 0;
                overflow: hidden;
            }

            &-image {
                opacity: 0;
                display: none;

                width: 52px;
                height: 52px;

                @include breakpoint(sm) {
                    max-width: 100px;
                    display: flex;
                    opacity: 1;
                }
            }
        }
    }

    &.expanding {
        .avatar {
            &-image {
                display: flex;
            }
        }
    }

    &.expanded,
    &.expanding {
        .avatar {
            padding: 32px 14px;

            &-image {
                opacity: 1;
            }

            &-labels {
                opacity: 1;
                margin: 24px 0 0 0;
                height: auto;
            }

            &-greeting {
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 4px;
                text-align: center;
                color: $color-avatar-text;
            }

            &-role {
                font-size: 12px;
                color: $color-avatar-text;
                text-align: center;
            }
        }
    }
}
