.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    &-image {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
        width: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        color: $color-avatar-text;
    }
}

.zone-admin-sidebar-container {
    .avatar {
        width: 100%;
        padding: 14px;
        min-width: $width-sidebar-collapsed;
        transition: all 0.2s ease-in-out;
        overflow-x: hidden;
        border-bottom: 1px solid $color-sidebar-bg;

        &-image {
            width: 100%;
            max-width: 100px;
            border: 2px solid $color-avatar-stroke;
            opacity: 0;
            transition: none;
        }

        &-labels {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
            min-width: $width-sidebar-expanded;
            padding-top: 24px;
            text-align: center;
        }
    }

    &.collapsing {
        .avatar {
            &-image {
                opacity: 0;

                @include breakpoint(sm) {
                    opacity: 1;
                }
            }

            &-labels {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;

            }
        }
    }

    &.collapsed {
        .avatar {
            &-labels {
                display: none;
            }

            &-image {
                opacity: 0;
                display: none;

                max-width: 52px;

                @include breakpoint(sm) {
                    max-width: 100px;
                    display: flex;
                    opacity: 1;
                }
            }
        }
    }

    &.expanding {
        .avatar {
            &-image {
                display: flex;
            }
        }
    }

    &.expanded,
    &.expanding {
        .avatar {
            padding: 32px 14px;

            &-image {
                
                opacity: 1;
                transition: opacity 0.5s ease-in-out;
            }

            &-labels {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                opacity: 1;
                padding-top: 24px;
            }

            &-greeting {
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 4px;
                text-align: center;
                color: $color-avatar-text;
            }

            &-role {
                font-size: 12px;
                color: $color-avatar-text;
                text-align: center;
            }
        }
    }
}
