#rte-components {
    width: 300px;
}

.blocks-rte {
    position: relative;
    width: 300px;
    min-height: 324px;

    .icons {
        border: 1px solid $color-grey-light;
        margin-top: -1px;

        .ar-icon {
            pointer-events: none;
        }
    }

    .ar-icon-picker {
        h3 {
            padding-left: 12px;
        }

        .container {
            padding-left: 0;
        }
    }

    .rte-icons-search {
        display: none;
    }

    .form-group {
        .input-group {
            input {
                margin-top: 0;
            }
        }
    }

    .form-group {
        .input-button {
            .fieldset {
                padding: 0;
                position: relative;

                input {
                    margin-top: 0;
                    width: 100%;
                    min-width: 100%;
                    flex-shrink: 0;
                    padding-right: 49px;
                }

                span,
                button {
                    position: absolute;
                    right: 1px;
                    top: 1px;
                    width: 39px;
                    height: 39px;
                    padding: 0;
                    border-radius: 0 !important;
                }

                .swatch {
                    position: absolute;
                    right: 9px;
                    top: 50%;
                    width: 23px;
                    height: 23px;
                    user-select: none;
                    border-radius: 2px;
                    border: 1px solid transparent;
                    transform: translateY(-50%);

                    &.light {
                        &:after {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 2px;
                            border: 2px solid $color-dark;
                            opacity: 0.1;
                            content: '';
                        }
                    }
                }
            }

            .ar-color-select {
                border: 1px solid $color-grey-light;
                padding-bottom: 0;
                margin-top: -1px;
            }

            .ar-color-select-swatches {
                border-top: none;
                padding-bottom: 12px;
            }

            .ar-image-select {
                border: 1px solid $color-grey-light;
                margin-top: -1px;
            }

            .ar-image-select-thumbs {
                padding: 12px 12px 0 12px;

                .more {
                    width: 100%;
                    padding-bottom: 12px;

                    button {
                        user-select: none;

                        * {
                            pointer-events: none;
                        }
                    }
                }
            }

            .ar-image-select-thumb {
                margin-bottom: 12px;
                width: 100%;
                text-align: center;
                border: 1px solid $color-grey-light;
                user-select: none;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                opacity: 0.95;

                * {
                    pointer-events: none;
                }

                img {
                    max-width: 100%;
                    height: auto;
                    z-index: 2;
                }

                img.loading {
                    width: 100%;
                    height: 100px;
                    background-color: $color-grey-light;
                    border-radius: 2px;
                    overflow: hidden;
                    opacity: 0.5;
                }

                &.active,
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                    border: 1px solid $color-primary;
                    box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
                }
            }

            .transparent {
                position: relative;
                background-color: transparent !important;

                &:before {
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;

                    background-position: 0px 0px, 10px 10px;
                    background-size: 20px 20px;
                    background-image: linear-gradient(
                    45deg,
                    white 25%,
                    transparent 25%,
                    transparent 75%,
                    white 75%,
                    white 100%
                ),
                    linear-gradient(
                    45deg,
                    white 25%,
                    $color-grey-light 25%,
                    $color-grey-light 75%,
                    white 75%,
                    white 100%
                );
                }
            }
        }
    }

    &-attributes {
        width: calc(100vh - 40px);
        max-width: 300px;
        padding: 20px;
    }

    &-list {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        ul {
            padding: 8px 0;
            margin: 0;
        }

        ul li {
            margin: 0;
            padding: 4px 12px;
            font-size: 14px;

            button {
                border: none;
                background-color: transparent;
                padding: 5px 8px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-family: inherit;
                border-radius: 4px;
                transition: background-color 0.2s ease-in-out;
                color: $color-text-dark;
                width: 100%;

                &:hover {
                    background-color: $color-white-dark;
                    cursor: pointer;
                }
            }
        }
    }

    &-search {
        flex-shrink: 0;
        padding: 16px;
        background-color: #fdfdfd;
        border-bottom: 1px solid $color-border;

        .form-group {
            background-color: $color-text-light;

            input {
                min-width: 0;
                flex-grow: 1;
                margin: 0 -1px 0 0;
                background-color: transparent;
                border: 1px solid #f3f3f3;

                &:focus {
                    z-index: 10000;
                    border: 1px solid $color-primary;
                }
            }
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        &-fields {
            flex-grow: 1;
            overflow: hidden;
            position: relative;

            .fieldset {
                padding: 20px 20px;
                z-index: 1;

                .form-group {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }

            &:after {
                position: absolute;
                width: calc(100% - 10px);
                height: 18px;
                pointer-events: none;
                bottom: 0;
                left: 1;
                z-index: 2;
                content: '';
                background: -moz-linear-gradient(
                top,
                rgba($color-white, 0) 0%,
                rgba($color-white, 1) 100%
            );
                background: -webkit-linear-gradient(
                top,
                rgba($color-white, 0) 0%,
                rgba($color-white, 1) 100%
            );
                background: linear-gradient(
                to bottom,
                rgba($color-white, 0) 0%,
                rgba($color-white, 1) 100%
            );
            }
        }

        &-header {
            padding: 6px 12px 6px 20px;
            background-color: #fdfdfd;
            border-bottom: 1px solid $color-grey-light;
            font-size: 14px;
        }

        &-footer {
            padding: 10px;
            border-top: 1px solid $color-grey-light;
        }
    }

    &-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.ar-rte {
    .component {
        position: relative;
        padding: 4px 8px;

        .actions {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.rte-jsx-component {
    z-index: 9999 !important;

    &-content-editor {
        position: relative;
        overflow: auto;
        display: flex;
        width: calc(100vw - 40px);
        height: calc(100vh - 92px);

        > .ar-dialog {
            display: flex;
            flex-direction: column;

            .ar-dialog-content {
                flex-grow: 1;
            }
        }

        .ar-rte {
            overflow-y: auto;
            height: calc(100% - 100px);

            [data-slate-editor] {
                height: 100%;
                padding: 40px 40px 120px 70px;
            }
        }

        .ar-rte-sidebar {
            transform: translate(70px, 0px);
        }

        &-container {
            width: 100%;
            height: 100%;
            position: relative;
        }

        &-submit {
            left: 50%;
            bottom: 40px;
            position: absolute;
            text-align: center;
            transform: translateX(-50%);
        }
    }

    &-blocker {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: rgba($color-grey-light, 0.5);

        &.empty {
            background-color: transparent;
            opacity: 1;
        }

        &:hover {
            opacity: 1;
        }

        button {
            position: relative;
        }
    }
}
