#rte-components {
    width: 300px;
}

.blocks-rte {
    position: relative;
    width: 300px;
    min-height: 324px;

    .icons {
        border: 1px solid $color-grey-light;
        margin-top: -1px;

        .ar-icon {
            pointer-events: none;
        }
    }

    .ar-icon-picker {

        h3 {
            padding-left: 12px;
        }

        .container {
            padding-left: 0;
        }
    }

    .rte-icons-search {
        display: none;
    }

    .form-group {
        .input-group {
            input {
                margin-top: 0;
            }
        }
    }

    .form-group {
        .input-button {
            .fieldset {
                padding: 0;
                position: relative;

                input {
                    margin-top: 0;
                    width: 100%;
                    min-width: 100%;
                    flex-shrink: 0;
                    padding-right: 49px;
                }

                span,
                button {
                    position: absolute;
                    right: 1px;
                    top: 1px;
                    width: 39px;
                    height: 39px;
                    padding: 0;
                    border-radius: 0 !important;
                }
            }
        }
    }

    &-attributes {
        width: calc(100vh - 40px);
        max-width: 300px;
        padding: 20px;
    }

    &-list {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        ul {
            padding: 8px 0;
            margin: 0;
        }

        ul li {
            margin: 0;
            padding: 4px 12px;
            font-size: 14px;

            button {
                border: none;
                background-color: transparent;
                padding: 5px 8px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-family: inherit;
                border-radius: 4px;
                transition: background-color 0.2s ease-in-out;
                color: $color-text-dark;
                width: 100%;

                &:hover {
                    background-color: $color-white-dark;
                    cursor: pointer;
                }
            }
        }
    }

    &-search {
        flex-shrink: 0;
        padding: 16px;
        background-color: #fdfdfd;
        border-bottom: 1px solid $color-border;

        .form-group {
            background-color: $color-text-light;

            input {
                min-width: 0;
                flex-grow: 1;
                margin: 0 -1px 0 0;
                background-color: transparent;
                border: 1px solid #f3f3f3;

                &:focus {
                    z-index: 10000;
                    border: 1px solid $color-primary;
                }
            }
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        &-fields {
            flex-grow: 1;
            overflow: hidden;
            position: relative;

            .fieldset {
                padding: 20px 20px;
                z-index: 1;

                .form-group {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }

            &:after {
                position: absolute;
                width: calc(100% - 10px);
                height: 18px;
                pointer-events: none;
                bottom: 0;
                left: 1;
                z-index: 2;
                content: '';
                background: -moz-linear-gradient(
                top,
                rgba($color-white, 0) 0%,
                rgba($color-white, 1) 100%
            );
                background: -webkit-linear-gradient(
                top,
                rgba($color-white, 0) 0%,
                rgba($color-white, 1) 100%
            );
                background: linear-gradient(
                to bottom,
                rgba($color-white, 0) 0%,
                rgba($color-white, 1) 100%
            );
            }
        }

        &-header {
            padding: 6px 12px 6px 20px;
            background-color: #fdfdfd;
            border-bottom: 1px solid $color-grey-light;
            font-size: 14px;
        }

        &-footer {
            padding: 10px;
            border-top: 1px solid $color-grey-light;
        }
    }

    &-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.ar-rte {
    .component {
        position: relative;
        padding: 4px 8px;

        .actions {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.rte-jsx-component {
    z-index: 9999 !important;

    &-content-editor {
        position: relative;
        overflow: auto;
        display: flex;
        width: calc(100vw - 40px);
        height: calc(100vh - 92px);

        > .ar-dialog {
            display: flex;
            flex-direction: column;

            .ar-dialog-content {
                flex-grow: 1;
            }
        }

        .ar-rte {
            overflow-y: auto;
            height: calc(100% - 100px);

            [data-slate-editor] {
                height: 100%;
                padding: 40px 40px 120px 70px;
            }
        }

        .ar-rte-sidebar {
            transform: translate(70px, 0px);
        }

        &-container {
            width: 100%;
            height: 100%;
            position: relative;
        }

        &-submit {
            left: 50%;
            bottom: 40px;
            position: absolute;
            text-align: center;
            transform: translateX(-50%);
        }
    }

    &-blocker {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: rgba($color-grey-light, 0.5);

        &.empty {
            background-color: transparent;
            opacity: 1;
        }

        &:hover {
            opacity: 1;
        }

        button {
            position: relative;
        }

        .blur-target {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
}
