.ar-rte-toolbar {

    .color-circle {
        border-radius: 2px;
        width: 24px;
        height: 24px;
        color: $color-text-dark;
    }

    [data-color='inherit'] {
        background-color: currentColor !important;
    }
}

.rte-color-insert {
    .ar-dropdown {
        margin-bottom: 0;
    }
}
