.zone {
    &-admin-media-editor {
        min-height: 100vh;
        padding-top: $height-admin-header;
        position: relative;
    }

    .admin-media-editor {
        position: relative;
        min-height: $height-media-form;

        @include breakpoint(md) {
            display: flex;
            align-items: stretch;
            flex-direction: row;
        }

        .ar-dropdown {
            width: 100%;
        }

        .ar-dropzone-input,
        .ar-dropzone-preview {
            display: none;
        }

        .ar-scene {
            overflow: visible;
        }

        .ar-collapsible.expanded {
            overflow: visible;
        }

        .ar-tags-input {
            border: 1px solid darken($color-grey-light, 1.5%);

            &.focus {
                border: 1px solid $color-blue;
                box-shadow: 0 0 0 2px rgba($color-blue, 0.25);
            }
        }

        &-dropzone {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            overflow-x: hidden;
            flex-grow: 1;
            position: relative;
            padding: $padding-default;

            @include breakpoint(md) {
                justify-content: flex-start;
                width: auto;
                overflow-y: auto;
                height: $height-media-form;
            }

            .ar-icon {
                color: $color-gray;
            }
        }

        &-preview {
            border: none;
            box-shadow: none;
            color: $color-gray;
            margin-bottom: 20px;
        }

        &-meta {
            width: 100%;
            background-color: $color-white;
            box-shadow: $shadow-image;

            @include breakpoint(md) {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                flex-grow: 0;
                position: relative;
                overflow: hidden;
                width: $width-media-form;
                height: $height-media-form;
                border-left: 1px solid $color-admin-header-border;
            }

            > div:first-child {
                flex-grow: 1;
                position: relative;
                min-height: 50vh;
                position: relative;
                overflow: hidden;

                > div > div {
                    position: relative !important;
                }

                @include breakpoint(md) {
                    overflow-y: visible;

                    > div > div {
                        position: absolute !important;
                    }
                }
            }

            > div:last-child {
                flex-grow: 0;
                flex-shrink: 0;
                padding: 12px;
                border-top: 1px solid $color-admin-header-border;
            }

            .ar-dialog {
                box-shadow: none;
                position: relative;
                border-top: 1px solid $color-admin-header-border;

                &-content {
                    border: none;
                }

                &-header {
                    border-bottom: 1px solid $color-admin-header-border;
                }
            }
        }
    }
}
