.admin-sidebar-menu-items {
    position: relative;
    padding: 0 0 55px 0;

    .menu-break {
        display: block;
        border-bottom: 1px solid $color-sidebar-bg;
        margin: 12px 0;
        opacity: 1;
    }

    .menu-item {
        min-width: 0px;

        &-row {
            display: block;
        }

        &-link {
            border-left: 2px solid transparent;
            opacity: 0.8;
            width: 100%;

            &,
            > button,
            > a:first-child,
            > div {
                align-items: center;
                background-color: transparent;
                color: $color-sidebar-text;
                text-align: left;
                display: flex;
                text-decoration: none;
            }

            > button,
            > a:first-child,
            > div {
                padding: 0;
                border: none;
                justify-content: flex-start;
                flex-grow: 1;
            }

            &:hover {
                opacity: 1;
                text-decoration: none;
                border-left: 2px solid lighten($color-menu-item-active, 20%);
            }

            &.active {
                opacity: 1;
                border-left: 2px solid $color-menu-item-active;
                background-color: rgba($color-sidebar-bg, 0.5);

                .menu-item-icon {
                    color: $color-menu-item-active;
                }
            }
        }

        &-icon {
            width: $width-sidebar-collapsed;
            max-width: $width-sidebar-collapsed;
            height: $height-menu-item;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 0;

            * {
                pointer-events: none;
            }
        }

        &-label {
            display: none;
            overflow: hidden;
        }

        &-count {
            border-radius: 12px;
            padding: 3px 6px 2px 6px;
            font-size: 10px;
            text-transform: uppercase;
            line-height: 1;
            background-color: $color-menu-item-active;
            transform: translateX(-140%) translateY(-100%);
            box-shadow: 0 0 5px 1px rgba($color-black, 0.25);
        }

        &-add {
            display: none;
        }

        &-content {
            display: none;

            &.active {
                display: none;
            }
        }

        .menu-item * {
            border: none !important;
        }
    }
}

.expanded {
    &:empty {
        display: none;
    }

    .admin-sidebar-menu-items {
        padding: 12px 0 56px 0;

        .menu-item {
            min-width: $width-sidebar-expanded;

            &-link {
                padding: 0 9px;

                &:hover {
                    background-color: rgba($color-black, 0.1);
                }
            }

            &-icon {
                max-width: 60px;
                min-height: $height-menu-item-expanded;
            }

            &-label {
                display: flex;
                align-items: center;
                flex-grow: 1;
                min-height: $height-menu-item-expanded;
                height: $height-menu-item;
                font-size: $font-size-menu-item;
                font-weight: $font-weight-menu-item;
                padding: 0 0 0 8px;
            }

            &-add {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                min-width: 45px;
                min-height: 45px;
                margin-right: -8px;
                align-self: stretch;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }

                &.active {
                    color: $color-blue;
                    opacity: 1;
                }
            }

            &-count {
                transform: translateX(0) translateY(0);
            }

            &-content {
                display: none;

                &.active {
                    display: block;
                }

                > *:empty {
                    display: none;
                }

                background-color: rgba($color-sidebar-bg, 0.5);
                border-left: 2px solid $color-menu-item-active;

                .menu-item {
                    &-row {
                        &:last-child {
                            padding-bottom: 8px;
                        }
                    }
                    &-link {
                        margin: 0;
                        color: darken($color-sidebar-text, 10%);
                        font-size: $font-size-menu-item - 2px;

                        &:hover {
                            background-color: transparent;
                            border-left: 2px solid transparent;
                        }

                        &.active {
                            background-color: transparent;
                            border-left: none;
                        }
                    }

                    &-icon,
                    &-label {
                        height: $height-menu-item - 20px;
                        font-size: inherit;
                    }
                }
            }
        }
    }
}

.collapsed,
.collapsing {
    .menu-break {
        height: 0;
        opacity: 0;
        margin: 0;
    }
}
