.circle-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid black;
    background-position: center;
    background-size: cover;
    opacity: 1;
}

.block-image,
.resource-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    margin: 0 0 40px 0;
    width: 100%;

    p:empty {
        display: none;
    }

    span:empty {
        display: none;
    }

    &-bg {
        width: 90%;
        border-radius: 2px;
        background-size: cover;
        background-position: center;

        &:empty {
            display: block;
        }

        @include breakpoint(xs) {
            height: 200px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        @include breakpoint(lg) {
            max-width: 600px;
            height: 240px;

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    &-info {
        width: 100%;
        min-height: 48px;
        overflow: hidden;
        text-align: center;

        .rte-jsx-component-blocker {
            background-color: transparent;
            z-index: 1000;
        }

        @include breakpoint(xs) {
            font-size: 12px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        @include breakpoint(lg) {
            font-size: 14px;
            max-height: 60px;
            overflow: visible;

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    &-link {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        a,
        button {
            width: 80%;
            max-width: 200px;
            display: flex;
        }
    }
}

.resource-block {
    margin: 0;
    overflow: visible;
    font-size: 14px;
    text-transform: none;
    padding: 12px 4px !important;
    color: inherit !important;
    border: 1px solid #cccccc !important;
    background-color: #ffffff !important;

    &-title {
        text-align: center;
        padding: 0 20px 12px 20px;
    }

    &-bg {
        width: 100%;
        max-width: none;
        border-radius: 1px;

        @include breakpoint(xs) {
            height: 200px;

            &:not(:last-child) {
                margin-bottom: 0;
            }
        }

        @include breakpoint(lg) {
            max-width: none;

            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }

    &-info {
        padding: 30px 20px 20px 20px;
        @include breakpoint(xs) {
            font-size: 12px;

            &:not(:last-child) {
                margin-bottom: 0;
            }
        }

        @include breakpoint(lg) {
            font-size: 14px;
            max-height: none;
            overflow: visible;

            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }
}

.icon-block {
    width: 100%;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        padding: 20px 0;
        text-align: center;
    }

    &-info {
        text-align: center;

        @include breakpoint(xs) {
            font-size: 12px;
        }

        @include breakpoint(lg) {
            font-size: 14px;
        }
    }
}

.team-member {
    padding: 0 20px;
    margin: 0 0 40px 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    p:empty {
        display: none;
    }

    span:empty {
        display: none;
    }

    &-bg {
        width: 148px;
        height: 148px;
        overflow: hidden;
        border-radius: 100%;
        background-size: cover;
        background-color: #FFFFFF;
        background-position: center;
    }

    &-name {
        margin: 24px 0 2px 0;

        > h3 {
            width: 100%;
            text-align: center;
        }
    }

    &-title {
        text-align: center;

        @include breakpoint(xs) {
            font-size: 12px;
        }

        @include breakpoint(md) {
            font-size: 14px;
        }
    }
}

.image-caption {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 40px;
    width: 100%;

    > img {
        max-width: 100%;
        height: auto;
    }

    &-title {
        margin-top: 40px;

        h5 {
            color: orange;
            font-weight: bold;
            text-align: center;
        }
    }

    &-info {
        text-align: center;

        @include breakpoint(xs) {
            font-size: 12px;
        }

        @include breakpoint(md) {
            font-size: 14px;
        }
    }
}

.video-block {
    display: block;
    width: 100%;
    margin-bottom: 40px;

    &-player {
        width: 100%;
        height: 240px;
        background-color: black;

        @include breakpoint(lg) {
            height: 380px;
        }
    }

    &-title {
        margin-top: 40px;
        color: gray;
        > h4 {
            font-weight: bold;
        }
    }

    &-info {
        @include breakpoint(xs) {
            font-size: 12px;
        }

        @include breakpoint(md) {
            font-size: 14px;
        }
    }
}
